﻿@model StreetArt.Data.Models.Entities.SuggestedEvent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SuggestedEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Images)
        </dt>

        <dd>
            @{
                if (!string.IsNullOrEmpty(Model.Images))
                {
                    List<string> Images = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(Model.Images);
                    foreach (var item in Images)
                    {
                        <a target="_blank" href="@Url.Content("~/Uploads/SuggestedEvents/" + item)"><img style="margin-bottom:30px" width="300" src="@Url.Content("~/Uploads/SuggestedEvents/" + item)" alt="Alternate Text" /></a>
                    }
                }

            }
         
        </dd>


       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
