﻿@model StreetArt.Data.Models.Entities.Event

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm(null, null, FormMethod.Post,
                                                  new { enctype = "multipart/form-data" }))
{
    
    
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div>
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
               
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control big"  })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
            </div>
        </div>

        
        

        <div class="form-group">
            <label class="control-label col-md-2" for="Map">Map</label>
            <div class="col-md-10">
                <div id="map_canvas"></div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="_Image" required accept="image/*" />
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="hidden" id="Latitude" name="Latitude" value="41.727347" />
        <input type="hidden" id="Longitude" name="Longitude" value="44.766798" />
        

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section css{
    
    <link href="@Url.Content("~/AdminContent/assets/css/bootstrap-datepicker.css")" rel="stylesheet" />   
  <style>
      #map_canvas{
          width:600px;
          height:400px;
      }
    </style>
}

@section scripts{
    
<script src="@Url.Content("~/AdminContent/Assets/js/moment.js")"></script>  
<script src="@Url.Content("~/AdminContent/Assets/js/bootstrap.min.js")"></script>  
<script src="@Url.Content("~/AdminContent/Assets/js/bootstrap-datepicker.js")"></script>  

    <script>
        $(function () {
            $('#StartDate').datetimepicker({ format: 'MM-DD-YYYY', defaultDate: new Date() });
        });
    </script>


<script type="text/javascript">
    $(window).load(function () {
        initMap();
    })
    var map;
    var markersArray = [];

    function initMap() {
        var latlng = new google.maps.LatLng(41.727347, 44.766798);
        var myOptions = {
            zoom: 14,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        placeMarker(latlng);
        // add a click event handler to the map object
        google.maps.event.addListener(map, "click", function (event) {
            // place a marker
            placeMarker(event.latLng);

            // display the lat/lng in your form's lat/lng fields
            document.getElementById("Latitude").value = event.latLng.lat();
            document.getElementById("Longitude").value = event.latLng.lng();
        });
    }
    function placeMarker(location) {
        // first remove all markers if there are any
        deleteOverlays();

        var marker = new google.maps.Marker({
            position: location,
            map: map
        });

        // add marker in markers array
        markersArray.push(marker);

        //map.setCenter(location);
    }

    // Deletes all markers in the array by removing references to them
    function deleteOverlays() {
        if (markersArray) {
            for (i in markersArray) {
                markersArray[i].setMap(null);
            }
            markersArray.length = 0;
        }
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTvrdFZ6rodLPQ4BzfOZ2mAIZCuQrVNoE&callback=initMap">
</script>
}