﻿@model List<StreetArt.Data.Models.Entities.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string revSort = string.Empty;

    if (ViewBag.timeSort == "desc")
    {
        revSort = "asc";
    }
    else
    {
        revSort = "desc";

    }
}
<div class="content">
    <div class="row">
        <div class="container">
            <a href="@Url.Content("~/events?timeSort=" + revSort + "&qsearch=" + ViewBag.qsearch)" class="c-btn c-datepicker-btn sanet">თარიღი</a>
            <pre id="events"></pre>
     
        @foreach (var item in Model)
        {
            <div class="expand-event" data-eventId="@item.Id">
                <div class="eventdate">
                    <div class="eventday">
                        @item.StartDate.Day
                    </div>
                    <div class="eventmonth">@item.StartDate.ToString("MMM")</div>
                </div>
                <div class="eventhead">
                    <div class="eventtitle">@item.Title</div>
                    <div class="eventdesc">
                        <div class="desctimeimage">
                            <img src="@Url.Content("~/")images/crap/desctime.png">
                        </div>
                        <div class="desctime">@item.Time</div>
                        <div class="descplaceimage">
                            <img src="@Url.Content("~/")images/crap/descplace.png">
                        </div>
                        <div class="descplace">@item.Location</div>
                    </div>
                </div><div class="clear"></div>
            </div>
            <div class="content-event" data-eventId="@item.Id">
                <div class="colapseimg">
                    <img src="@Url.Content("~/uploads/events/" + item.Image)">
                </div>
                <div class="eventmore">
                    <div class="socialshare">
                        <img src="@Url.Content("~/")images/crap/social.png">
                    </div>
                    <div class="eventmorecontent">აღწერა</div>
                    <div class="descdesc">
                        @item.Description
                        <div class="moreinfomore">
                        <div class="moremorel"><div class="moretime">TIME</div><div class="moretimevalue">@item.Time</div></div>
                        <div class="moremorer"><div class="morelocation">LOCATION</div><div class="morelocationvalue">@item.Location</div></div></div>
                    <div class="damatebiti">რუკა</div><div class=""><iframe src="http://maps.google.com/maps?q=@item.Latitude,@item.Longitude&z=15&output=embed" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div></div></div></div>

        }
           
        </div>
        <div class="rightsideport">

            <div class="search">
                    <form class="search-wrapper cf">
                        <input hidden="hidden" name="timeSort" value="@ViewBag.timeSort" />
                        <input type="text" name="qsearch" value="@ViewBag.qsearch" placeholder="საძიებო სიტყვა..." >
                        <button type="submit">ძებნა</button>
                    </form>
            
                <div class="porad">რეკლამა</div>
                <div class="porad">რეკლამა</div>
            </div>
        </div>
</div>
<div class="mtlical">
    <div class="bootstrap-wrapper">
        <div class="modal fade2" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->


            </div>
        </div>
    </div>
</div>




@section scripts{
    
    <script>
        $('.expand-event').click(function () {

            $('.content-event[data-eventid="'+$(this).data('eventid')+'"]').slideToggle('slow');
        });
       
    </script>
 
  
    
    
}