﻿@model StreetArt.Models.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="content">
        <div class="row">
            <div class="mainsadme">
                <div class="index-left-column">
                    <div class="addon">
                        <div class="recentgallery">
                            @if (Model.MainPhoto == null)
                            {
                                <a href="#" target="_blank">
                                    <img src="images/img1.png">
                                </a>
                            }
                            else
                            {
                                <a href="@Model.MainPhoto.Link" target="_blank">
                                    <img src="@Url.Content("~/Uploads/Sliders/" + Model.MainPhoto.Image)">
                                </a>
                            }



                        </div>
                        <div class="recentgallerytitle">
                            მიმდინარე გამოფენა
                        </div>
                    </div>
                    <!-- Slideshow -->
                    <div class="callbacks_container">
                        <ul class="rslides" id="slider4">
                            @foreach (var item in Model.Sliders)
                            {
                                <li>
                                    <a href="@item.Link" target="_blank">
                                        <img src="@Url.Content("~/Uploads/Sliders/" + item.Image)" alt="">
                                    </a>
                                    
                                </li>
                            }
                           
                           
                        </ul>
                    </div>
                </div>
                <div class="index-right-column">
                    <div class="leftdiv">
                        <div class="gallerycalendar">
                            <div data-toggle="modal" class="mpnter" data-target="#myModal"><div class="gctitle">გამოფენების<br>კალენდარი</div></div>
                        </div>
                        <div class="shop">
                            <div class="shoptitle">მაღაზია</div>
                            <center><div class="shopicon"><img src="@Url.Content("~/")images/shopicon.png"></div></center>
                        </div>
                    </div><div data-toggle="modal" data-target="#galmap" onclick="initMap()">
                        <div class="maptitle">გამოფენის რუკა</div>
                        <div class="map">
                            <img src="@Url.Content("~/")images/homemap.png">
                        </div>
                    </div>
                    <div class="artists" onclick="window.location.href = '@Url.Content("~/account/users")';">
                        არტისტები
                    </div>
                    <div class="studio">
                        STREET ART STUDIO
                    </div>
                    <div class="mainad">
                        რეკლამა
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="msec1">
        <div class="content">
            <div class="row2">
                <div class="sec2title">Streetart-ის რჩეულები</div>
                <div class="sec2prod">
                  
                   @foreach (var item in Model.FavouriteWorks)
                   {
                       item.Isliked = Model.UserLikedPosts.Any(q => q == item.Id);
                    <div>
                        <div class="port-item">
                            <div class="sec2itemtop viewItem" data-toggle="modal" data-target="#portfolioitem" data-id="@item.Id" data-action="ViewPost">
                                <img src="@Url.Content("~/")Uploads/UserWorks/@item.PosterImage" class="modelImage workImage">
                            </div>
                            <div class="sec2itembottom">
                                <div class="itemstat">
                                    @if (item.Isliked)
                                    {
                                        <div class="itemlike social ignoreClick like active" data-action="LikePost" data-id="@item.Id">
                                            <p class="workLikes">@item.Likes</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="itemlike social ignoreClick like" data-action="LikePost" data-id="@item.Id">
                                            <p class="workLikes">@item.Likes</p>
                                        </div>
                                    }
                                    <div class="itemshare social ignoreClick share" data-action="SharePost" data-id="@item.Id">
                                        <img src="@Url.Content("~/")images/item/share.png">
                                        <p class="workShares">@item.Shares</p>
                                    </div>
                                    <div class="itemview">
                                        <img src="@Url.Content("~/")images/item/view.png">
                                        <p class="workViews">@item.Views</p>
                                    </div>
                                </div>
                            </div>
                            <p class="itemauthor">by <a href="@Url.Content("~/account/profile/" + item.User.Id)">@item.User.FirstName</a></p>

                            <input type="hidden" class="worklTitle" value="@item.Title" />
                            <input type="hidden" class="workDescription" value="@item.Description" />
                            <input type="hidden" class="workAuthor" value="@item.User.FirstName @item.User.LastName" />
                            <input type="hidden" class="workPublishDate" value="@item.UploadedTime" />
                            <input type="hidden" class="workAuthorAvatar" value="@item.User.Avatar" />

                        </div>
                    </div>

                   }
                     
                    
                </div>
                <a href="@Url.Content("~/works")"><div class="sec2more">მეტი</div></a>
                <div class="sec2ads"><div class="sec2lad"></div><div class="sec2rad"></div></div>
                <div class="footer">r</div>
            </div>
        </div>
    </div>
    <div class="mtlical">
        <div class="bootstrap-wrapper">
            <div class="modal fade2" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content2">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title sanet">გამოფენების კალენდარი</h4>
                        </div>
                        <div class="modal-body" style="margin-top: 20px;">
                            <div>
                                @foreach (var item in Model.Events)
                                {
                                    <div class="calendaritem">
                                        <div class="calleft">
                                            <div class="calday">@item.StartDate.Day</div>
                                            <div class="calmonth">@StreetArt.Models.Common.Month[item.StartDate.Month - 1]</div>
                                        </div>
                                        <div class="calright">
                                            <p class="caltitle">@item.Title</p>
                                            <div class="caldesc">
                                                <p>@item.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                                
                               
                            </div>
                        </div><a href="@Url.Content("~/events")"><div class="moreevents">მეტი</div></a>
                        <div class="modal-footer2 sanet" style="color: #c5c5c5;">
                            <div class="callad">რეკლამა</div>
                            <div class="calrad">რეკლამა</div>
                            <div class="clear"></div>
                            აქ შეგვიძლია გავუშვათ ზოგადი ტექსტი ან განმარტება გამოფენებთან დაკავშირებით.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="mtlical">
        <div class="bootstrap-wrapper">
            <div class="modal fade2" id="galmap" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content2">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title sanet">გამოფენების რუკა</h4>
                        </div>
                        <div class="modal-body" style="margin-top: 20px;">
                            <div id="map-obj"></div>
                        </div>
                        <div class="modal-footer sanet" style="color: #c5c5c5;">
                            აქ შეგვიძლია გავუშვათ ზოგადი ტექსტი ან განმარტება გამოფენებთან დაკავშირებით.
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>

    

    @section scripts{
       
        <script>
            function likePortfolio(porfolioId){

            }
        </script>
        <script type="text/javascript">
  
    var map;
    var markersArray = [];
    var ready = false;
    var markerItems = @Html.Raw(Json.Encode(Model.Markers));
            console.log(markerItems);

            function initMap() {
                if(ready) return;
                ready=true;
        var latlng = new google.maps.LatLng(41.727347, 44.766798);
        var myOptions = {
            zoom: 14,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map-obj"), myOptions);
        
        // add a click event handler to the map object
        for (var i = 0; i < markerItems.length; i++) {
            var latlng = new google.maps.LatLng(markerItems[i].Lat, markerItems[i].Lng);
            placeMarker(latlng);
        }
      
    }
    function placeMarker(location) {
       
        
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });

        // add marker in markers array
        markersArray.push(marker);

        //map.setCenter(location);
    }

    
   
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTvrdFZ6rodLPQ4BzfOZ2mAIZCuQrVNoE">
</script>  
    }