﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Users = ViewBag.userList as List<StreetArt.Data.Models.Chat.UserList>;
}

<script>
    var token = "@ViewBag.data";
</script>
<script src="@Url.Content("~/")Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="@Url.Content("~/")signalr/hubs"></script>
<script src="@Url.Content("~/scripts/chat.js")"></script>



<div class="content">
    <div class="row chat">
        <div class="portcont">
            <div class="left-side users-side" id="users">
                <div class="user-side-header">
                    <h3>Messages</h3>
                </div>
                @if (Users != null && Users.Count() != 0)
                {
                   
                        foreach (var item in Users)
                        {
                            <div class="chat-users-cont"  data-userid="@item.User.Id">
                                <div class="chat-users">
                                    <div class="chat-user-img" style="background-image:url(../../images/UserPhotos/@item.User.Avatar)"></div>
                                    <div class="user-info">
                                        <h3 class="userName">@item.User.FirstName @item.User.LastName</h3>
                                        <p>@item.Date.ToShortDateString() @item.Date.ToShortTimeString()</p> 
                                    </div>
                                    <span class="message-count">0</span>
                                </div>
                            </div>
                        }

                }
                else
                {
                    <div class="chat-users-cont not-message">
                        <h3>შეტყობინებები არაა</h3>
                    </div>
                }



            </div>
            <div class="right-side messages-side">
                <div class="messages-container">
                </div>
                <div class="loading inchat">
                    <svg width='124px' height='124px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring-alt"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><circle cx="50" cy="50" r="40" stroke="#afafb7" fill="none" stroke-width="10" stroke-linecap="round"></circle><circle cx="50" cy="50" r="40" stroke="#cc3366" fill="none" stroke-width="6" stroke-linecap="round"><animate attributeName="stroke-dashoffset" dur="2s" repeatCount="indefinite" from="0" to="502"></animate><animate attributeName="stroke-dasharray" dur="2s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4"></animate></circle></svg>
                </div>
                <div class="chat-inpute">
                    <form id="message-for">
                        <textarea id="text-input" placeholder="Type A Message..."></textarea>
                        <button id="send-message">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("textarea").keyup(function (e) {
            });
        });

        //function textAreaAdjust(o) {
        //    if (o.scrollHeight > 150) {
        //        o.style.height = 110 + "px";
        //        console.log("first",o.scrollHeight)
        //    }
        //    else
        //    {
        //        o.style.height = "1px";
        //        o.style.height = (10 + o.scrollHeight) + "px";
        //        console.log("second", o.scrollHeight)
        //    }
        //}
    </script>
}
