﻿.User-Form {
    max-width: 40rem;
    margin: auto;
    padding: 0 5rem;
    box-sizing: border-box;
}

    .User-Form input[type=text], .User-Form input[type=password], .User-Form input[type=email], .User-Form select {
        padding: 10px 4%;
        -webkit-appearance: none;
        outline: none;
        border: 2px solid #cac7c7;
        width: 100%;
        border-radius: 5px;
        margin: 5px 0;
        box-sizing: border-box;
    }

        .User-Form input[type=text]:focus, .User-Form input[type=password]:focus, .User-Form input[type=email]:focus, .User-Form select:focus {
            border: 2px solid #398bff;
        }


        .User-Form input[type=text].little {
            width: 49.5%;
            display: inline-block;
        }

    .User-Form select {
        background: #e6e6e6;
    }

.confirmation p, .confirmation input {
    display: inline-block;
}

.artists {
    cursor: pointer;
}

.author-users {
    width: 165px;
    text-align: center;
    float: left;
    text-decoration: none;
    color: #000;
}

    .author-users .author-images {
        width: 125px;
        height: 125px;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
    }

    .author-users .author-names {
        font-size: 18px;
        margin-top: 10px;
    }

.confirmation p {
    margin: 10px 0;
}

.User-Form input[type=submit ] {
    width: 100%;
    padding: 10px 5%;
    -webkit-appearance: none;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #398bff;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}

.datep {
    margin: 5px 0;
}

.DateOfBearth select {
    width: 45%;
}

    .DateOfBearth select.little {
        width: 26.5%;
    }


.validation-errors span {
    display: block;
    color: red;
}

.validation-errors .confirmation-error {
    display: none;
}

.error.view {
    color: red;
}


.User-Form dt, .User-Form dd {
    text-align: left;
    min-width: 50%;
    font-size: 20px;
}

.user-photo {
    text-align: center;
    margin: auto;
}

    .user-photo img {
        max-height: 400px;
        margin-top: 50px;
    }



#change-img-button {
    display: none;
}

#photo-label {
    border: 2px solid #cac7c7;
    padding: 10px 20px;
    margin: auto;
    text-align: center;
    cursor: pointer;
    display: block;
    width: 50%;
    margin-top: 50px;
}

#Croppie-pace {
    text-align: center;
    margin: auto;
    padding: 10px 20px;
    display: block;
    display: none;
}

#submit {
    display: none;
}

.success {
    color: green;
}

.error {
    color: red;
}


.upload {
    max-width: 200px !important;
    height: 200px !important;
    background-color: #dadada;
    border-radius: 50%;
    margin: auto;
}

.main {
    background: transparent !important;
    max-width: 500px !important;
    height: 400px !important;
    border-radius: 0 !important;
}

#Paris {
    height: 350px;
}

#upload-img {
    padding: 10px 20px;
    margin: 50px auto;
    display: table;
    cursor: pointer;
    width: 171px;
    height: 14px;
    border-radius: 5px;
    border: none;
    background: #6dcff6;
    font-family: 'sanet';
    color: #fff;
    font-size: 17px;
}

#Tokyo {
    padding-top: 50px;
}

    #Tokyo .label-input {
        margin-bottom: 20px;
    }

    #Tokyo .item-el {
        width: 100%;
        margin-bottom: 40px;
    }

    #Tokyo select {
        max-width: 100%;
        width: 500px;
    }

    #Tokyo textarea {
        resize: none;
        max-width: 400px;
        width: 100%;
        height: 180px;
        padding: 20px;
    }

.image-viwer-wrapper {
    margin: auto;
}

.old-image {
    margin: auto;
    margin-bottom: 50px;
}

.old-image-text {
    margin: auto;
    text-align: center;
}


.itemlike.active {
    background-image: url(../images/liked.png);
}


/*.leftsideport .sec2itemtop img {
        min-width: 230px;
}*/


.port-item {
    cursor: default;
}

.leftsideport .sec2itemtop img {
    cursor: pointer;
}

.social {
    cursor: pointer;
}

.auavatar img {
    border-radius: 50%;
}

.loading {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    z-index: 15000;
    background: rgba(1,1,1,.8);
    display: none;
}

    .loading svg {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        position: relative;
    }

.auleft {
    display: none;
}



.modal-footer.sanet {
    display: none;
}

.profile.right-side, .right-side {
    float: none;
    display: inline-block;
    width: 71%;
    vertical-align: top;
    padding: 30px 50px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(173,173,173,1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(173,173,173,1);
    box-shadow: 0px 0px 10px 1px rgba(173,173,173,1);
}

.left-side  {
    display: inline-block;
    width: 28%;
    vertical-align: top;
    background: #e4e4e4;
    padding: 20px;
    box-sizing: border-box;
}

.avatar-conteiner h2 {
    margin-top: 0;
}

.avatar-parent img {
    height: 130px;
    display: inline-block;
    vertical-align: top;
}

.avatar-parent .avatar-left {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
}

.Username {
    font-size: 20px;
    margin-top: 0;
}

.cont-av {
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
}

.social-rate {
    padding-top: 20px;
}

.numbers p {
    display: inline-block;
    width: 49%;
    margin: 8px 0;
    font-weight: bold;
}
.numbers{
    text-decoration:none;
    color:inherit;
}
.numbers .left {
    text-align: left;
}

.numbers .right {
    text-align: right;
    color: gray;
    font-size: 20px;
}

.head {
    font-weight: bold;
}

.desc {
    margin-bottom: 0;
}

.inputs p {
    margin-bottom: 0;
}


.custom-fields {
    margin-top: 50px;
    margin-bottom: 50px;
}

.social-icon {
    margin-right: 15px;
}

    .social-icon img {
        height: 38px;
    }

.topauth.logined {
    position: relative;
    right: 50px;
}

.topauth .logined {
    position: absolute;
    height: 40px;
}


.topauth span img, .topauth div img {
    width: 40px;
    position: absolute;
}

.search-icon {
    right: 230px;
    top: 2px;
}

.message-icon {
    right: 150px;
    top: 2px;
}
.message-icon.alert:after{
    content: attr(data-notcount);
    color: #fff;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    z-index: 5;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 11px;
    padding-left: 5px;
    box-sizing: border-box;
    left: 0;
}

.alert-icon {
    right: 80px;
    top: 1px;
}

.profile-icon {
    top: 10px;
}

.topauth .dropdown {
    background: #ccc;
    width: 200px;
    right: -50px;
    top: 45px;
    position: absolute;
    border-radius: 10px;
    display: none;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
}

    .topauth .dropdown.active {
        display: block;
    }

    .topauth .dropdown:after {
        content: '';
        width: 0;
        height: 0;
        border-bottom: 15px solid #ccc;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        right: 20px;
        top: -16px;
        font-size: 40px;
    }

    .topauth .dropdown ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        -webkit-appearance: none;
    }

    .topauth .dropdown li {
        margin: 0;
        padding: 0;
        text-align: right;
        padding-right: 20px;
        -webkit-appearance: none;
    }

        .topauth .dropdown li:not(:last-child) {
            border-bottom: 2px solid #333;
        }

    .topauth .dropdown p {
        font-size: 15px;
        margin: 0 !important;
        color: #333;
        font-weight: bold;
        padding: 0;
    }


  .profile-icon  .avatar-img{
        height:25px;
        width:auto;
        }


.left-side.users-side {
    background:#f4f0f0;
    height:100%;
    overflow-y:scroll;
}

.right-side.messages-side {
height:100%;
position:relative;
}

.user-side-header {
    text-align:center;
}
    .user-side-header h3 {
    margin-top:0;
    }

.chat-users-cont:nth-child(2) {
border-top:1px solid red;
}

.chat-users-cont {
height:70px;
border-bottom:1px solid red;
padding-top:5px;
box-sizing:border-box;
}
    .chat-users-cont.special {
    cursor:default !important;
    text-align:center;
    background:initial !important;
    }
    .chat-users-cont.special h2{
    text-align:center;
    }
    .chat-users-cont:hover {
    background:white;
    cursor:pointer;
    }
    .chat-users-cont.active{
    background:white;
    }
.chat-user-img {
height:60px;
width:60px;
background-position:center;
background-size:cover;
border-radius:50%;
display:inline-block;
vertical-align:top;
}
.user-info {
max-height:80px;
display:inline-block;
padding-left:5px;
}
.user-info h3, .user-info p {
    margin: 5px 0;
}

    .user-info p {
    font-size:14px;
    }

.row.chat {
position:absolute;
height:calc(100% - 130px);
width: 88%;
}

    .row.chat .portcont {
    height:100%;
    }
.row textarea {
width:100%;
display:inline-block;
vertical-align:top;
resize:none;
height:110px;
margin-top:15px;
}

.row button {
width:70px;
display:inline-block;
vertical-align:bottom;
cursor:pointer;
font-size:20px;
margin:5px 0;
}

.chat-inpute {
position:relative;
bottom:0;
width:100%;
}

.message {
width:100%;
box-sizing: border-box;
}

    .message p, .message h3 {
    margin-bottom:0;
    margin-top:5px;
    }
    .message p {
    text-align:left;
    }

    .message h3 {
        font-size:16px;
    }

.messages-container {
height:calc(100% - 150px);
position:relative;
overflow-y:scroll;
}

.message.from {
text-align:right;
padding-left:15%;

}
.message.to{
text-align:left;
padding-right:15%;
}
.message p {
padding:10px;
box-sizing:border-box;
background:#555;
border-radius:5px;
color:white;
font-size:15px;
}
.message.to p {
background:#cc3366;
}

.message span {
font-size:12px;
}


.message-to-user {
    cursor: pointer;
    border-radius: 10px;
    background-color: #7accc8;
    color: #fff;
    font-size: 30px;
    font-family: 'sanet';
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
}


.message-to-user a{
    color: #fff !important;
    text-decoration-style:none;
}
.message .emotion{
    height:18px;
    position:relative;
    top:3px;
}
.message-to-user a:hover{
    color: #fff !important;
    text-decoration:none;
}
.message-to-user:hover {
    background-color: #5daeaa;
}


.loading.inchat {
    position: absolute;
    height: 80%;
    height: calc(100% - 180px);
}

.message-count{
    float: right;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding-left: 11px;
    line-height: 30px;
    opacity:0;
}


.personal-message {
background:red;
padding:5px;
border-radius:2px;
background: #cc3366;
font-family: 'sanet';
color: #fff;
font-size: 17px;
}
