@media screen and (max-width: 1780px) and (min-width: 1480px) { 
	.ese {
		width: 1100px;
	}
}
@media screen and (max-width: 1479px) and (min-width: 1200px) { 
	.ese {
		width: 825px;
	}
}
@media screen and (max-width: 1199px) and (min-width: 700px) { 
	.ese {
		width: 550px;
	}
}
@media screen and (max-width: 699px) and (min-width: 1px) { 
	.ese {
		width: 275px;
	}
}