@media (min-width: 1px) and (max-width: 1120px) {
	.calleft {float: initial;}
	.calday {width: 100%;}
	.calmonth {width: 100%;}
}
@media (min-width: 1920px) and (max-width: 4000px) {
    .content {
        width: 1800px;
		margin-left: auto;
		margin-right: auto;
    }
	.row {
		margin-left: 3%;
		margin-right: 3%;
		width:94%;
		margin-top: 130px;
	}
	.row2 {
		margin-left: 3%;
		margin-right: 3%;
		width:94%;
		margin-top: 60px;
	}
	
	.index-left-column {
		width: 600px;
		float: left;
	}
	.index-right-column {
		width: 1070px;
		float: right;
		margin-left: 20px;
	}
	.recentgallery img {
		height: 250px;
		width: 100%;
		border-radius: 10px 10px 0 0;
	}
	.recentgallerytitle {
		height: 60px;
		margin-top: -4px;
		background: #cc3366;
		border-radius: 0 0 10px 10px;
		font-family: 'sanet';
		font-size: 25px;
		color: #fff;
		line-height: 60px;
		text-align: center
	}
	.leftdiv {
		width: 330px;
		float: left;
	}
	.gallerycalendar {
		width: 330px;
		background: #fff200;
		height: 145px;
		border-radius: 10px;
		line-height: 145px;
		font-family: 'sanet';
		font-size: 25px;
		color: #333;
		text-align: center;
	}
	.gctitle {
		display: inline-block;
  vertical-align: middle;
  line-height: 34px; 
	}
	.shop {
		margin-top: 20px;
		width: 330px;
		background: #e1e1e1;
		height: 145px;
		border-radius: 10px;
	}
	.maptitle {
		width: 720px;
		float: left;
		height: 60px;
		border-radius: 10px 10px 0 0;
		background: #6dcff6;
		font-size: 20px;
		color: #fff;
		margin-left: 20px;
		text-align: center;
		line-height: 60px;
		font-family: 'sanet';
	}
	.map img {
		width: 720px;
		height: 250px;
		background: #fff200;
		border-radius: 0 0 10px 10px;
		float: left;
		margin-left: 20px
	}
	.artists {
		width: 330px;
		margin-top: 20px;
		background: #ebebeb;
		height: 180px;
		border-radius: 10px;
		color: #333;
		line-height: 180px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
	}
	.studio {
		width: 720px;
		height: 180px;
		line-height: 180px;
		margin-top: 20px;
		background: #ccc;
		border-radius: 10px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
		margin-left: 20px
	}
	.mainad {
		height: 200px;
		line-height: 200px;
		margin-top: 20px;
		background: #ccc;
		border-radius: 10px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
		width: 100%;
	}
	.shopicon {
		margin-top: 10px;
	}
	.shoptitle {
		text-align: center;
		font-size: 20px;
		color: #333;
		font-family: 'sanet';
		padding-top: 40px;
	}
    .port-item{
        width: 17%;
        margin-right: 24px;
    }
    .sec2prod > div:last-child .port-item{
        margin-right: 0;
    }
	
}
@media (min-width: 1600px) and (max-width: 1919px) {
    .content {
        width: 100%;
    }
	
    .port-item{
        width: 18%;
        margin-right: 24px;
    }
    .sec2prod > div:last-child .port-item{
        margin-right: 0;
    }
	
	.row {
		margin-left: 3%;
		margin-right: 3%;
		width:94%;
		margin-top: 130px;
	}
	.row2 {
		margin-left: 3%;
		margin-right: 3%;
		width:94%;
		margin-top: 60px;
	}
	.index-left-column {
		width: 29%;
		float: left;
	}
	.index-right-column {
		width: 70%;
		float: right;
	}
	.recentgallery img {
		height: 255px;
		width: 100%;
		border-radius: 10px 10px 0 0;
	}
	.recentgallerytitle {
		height: 65px;
		margin-top: -4px;
		background: #cc3366;
		border-radius: 0 0 10px 10px;
		font-family: 'sanet';
		font-size: 25px;
		color: #fff;
		line-height: 65px;
		text-align: center
	}
	.leftdiv {
		width: 30%;
		float: left;
	}
	.gallerycalendar {
		width: 100%;
		background: #fff200;
		height: 150px;
		border-radius: 10px;
		line-height: 150px;
		font-family: 'sanet';
		font-size: 25px;
		color: #333;
		text-align: center;
	}
	.gctitle {
		display: inline-block;
  vertical-align: middle;
  line-height: 34px;
	}
	.shop {
		margin-top: 20px;
		width: 100%;
		background: #e1e1e1;
		height: 150px;
		border-radius: 10px;
	}
	.maptitle {
		width: 68%;
		float: left;
		height: 65px;
		border-radius: 10px 10px 0 0;
		background: #6dcff6;
		font-size: 20px;
		color: #fff;
		margin-left: 20px;
		text-align: center;
		line-height: 65px;
		font-family: 'sanet';
	}
	.map img {
		width: 68%;
		height: 255px;
		border-radius: 0 0 10px 10px;
		float: left;
		margin-left: 20px
	}
	.artists {
		width: 30%;
		margin-top: 20px;
		background: #ebebeb;
		height: 160px;
		border-radius: 10px;
		color: #333;
		line-height: 160px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
	}
	.studio {
		width: 68%;
		height: 160px;
		line-height: 160px;
		margin-top: 20px;
		background: #ccc;
		border-radius: 10px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
		margin-left: 20px
	}
	.mainad {
		height: 120px;
		line-height: 120px;
		margin-top: 20px;
		background: #ccc;
		border-radius: 10px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
		width: 100%;
	}
	.shopicon {
		margin-top: 10px;
	}
	.shoptitle {
		text-align: center;
		font-size: 20px;
		color: #333;
		font-family: 'sanet';
		padding-top: 40px;
	}
}
@media (min-width: 1440px) and (max-width: 1599px) {
    .content {
        width: 100%;
    }
	

    .port-item{
        width: 22.8%;
       margin-right:24px;
    }
    .sec2prod > div:nth-child(4) .port-item{
        margin-right:0;
    }
    .sec2prod > div:last-child .port-item{
        display: none;
    }
	.row {
		margin-left: 3%;
		margin-right: 3%;
		width:94%;
		margin-top: 130px;
	}
	.row2 {
		margin-left: 3%;
		margin-right: 3%;
		width:94%;
		margin-top: 60px;
	}
	.index-left-column {
		width: 29%;
		float: left;
	}
	.index-right-column {
		width: 70%;
		float: right;
	}
	.recentgallery img {
		height: 255px;
		width: 100%;
		border-radius: 10px 10px 0 0;
	}
	.recentgallerytitle {
		height: 65px;
		margin-top: -4px;
		background: #cc3366;
		border-radius: 0 0 10px 10px;
		font-family: 'sanet';
		font-size: 25px;
		color: #fff;
		line-height: 65px;
		text-align: center
	}
	.leftdiv {
		width: 29%;
		float: left;
	}
	.gallerycalendar {
		width: 100%;
		background: #fff200;
		height: 150px;
		border-radius: 10px;
		line-height: 150px;
		font-family: 'sanet';
		font-size: 25px;
		color: #333;
		text-align: center;
	}
	.gctitle {
		display: inline-block;
  vertical-align: middle;
  line-height: 34px;
	}
	.shop {
		margin-top: 20px;
		width: 100%;
		background: #e1e1e1;
		height: 150px;
		border-radius: 10px;
	}
	.maptitle {
		width: 68%;
		float: left;
		height: 65px;
		border-radius: 10px 10px 0 0;
		background: #6dcff6;
		font-size: 20px;
		color: #fff;
		margin-left: 20px;
		text-align: center;
		line-height: 65px;
		font-family: 'sanet';
	}
	.map img {
		width: 68%;
		height: 255px;
		border-radius: 0 0 10px 10px;
		float: left;
		margin-left: 20px
	}
	.artists {
		width: 29%;
		margin-top: 20px;
		background: #ebebeb;
		height: 160px;
		border-radius: 10px;
		color: #333;
		line-height: 160px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
	}
	.studio {
		width: 68%;
		height: 160px;
		line-height: 160px;
		margin-top: 20px;
		background: #ccc;
		border-radius: 10px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
		margin-left: 20px
	}
	.mainad {
		height: 120px;
		line-height: 120px;
		margin-top: 20px;
		background: #ccc;
		border-radius: 10px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
		width: 100%;
	}
	.shopicon {
		margin-top: 10px;
	}
	.shoptitle {
		text-align: center;
		font-size: 20px;
		color: #333;
		font-family: 'sanet';
		padding-top: 40px;
	}
}
@media (min-width: 1366px) and (max-width: 1439px) {
    .content {
        width: 100%;
    }
	.row {
		margin-left: 3%;
		margin-right: 3%;
		width:94%;
		margin-top: 130px;
	}
	.row2 {
		margin-left: 3%;
		margin-right: 3%;
		width:94%;
		margin-top: 60px;
	}
	.index-left-column {
		width: 29%;
		float: left;
	}
	

     .port-item{
        width: 22.8%;
       margin-right:24px;
    }
    .sec2prod > div:nth-child(4) .port-item{
        margin-right:0;
    }
    .sec2prod > div:nth-child(5) .port-item{
       display:none;
    }

	.fifthprod {
		margin-left: 12px;
		margin-right: 12px;
		width: 22.8%;
		display: none;
	}
	.index-right-column {
		width: 70%;
		float: right;
	}
	.recentgallery img {
		height: 220px;
		width: 100%;
		border-radius: 10px 10px 0 0;
	}
	.recentgallerytitle {
		height: 50px;
		margin-top: -4px;
		background: #cc3366;
		border-radius: 0 0 10px 10px;
		font-family: 'sanet';
		font-size: 20px;
		color: #fff;
		line-height: 50px;
		text-align: center
	}
	.leftdiv {
		width: 29%;
		float: left;
	}
	.gallerycalendar {
		width: 100%;
		background: #fff200;
		height: 130px;
		border-radius: 10px;
		line-height: 130px;
		font-family: 'sanet';
		font-size: 25px;
		color: #333;
		text-align: center;
	}
	.gctitle {
		display: inline-block;
  vertical-align: middle;
  line-height: 34px;
	}
	.shop {
		margin-top: 10px;
		width: 100%;
		background: #e1e1e1;
		height: 130px;
		border-radius: 10px;
	}
	.maptitle {
		width: 68%;
		float: left;
		height: 50px;
		border-radius: 10px 10px 0 0;
		background: #6dcff6;
		font-size: 20px;
		color: #fff;
		margin-left: 20px;
		text-align: center;
		line-height: 50px;
		font-family: 'sanet';
	}
	.map img {
		width: 68%;
		height: 220px;
		border-radius: 0 0 10px 10px;
		float: left;
		margin-left: 20px
	}
	.artists {
		width: 29%;
		margin-top: 20px;
		background: #ebebeb;
		height: 130px;
		border-radius: 10px;
		color: #333;
		line-height: 130px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
	}
	.studio {
		width: 68%;
		height: 130px;
		line-height: 130px;
		margin-top: 20px;
		background: #ccc;
		border-radius: 10px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
		margin-left: 20px
	}
	.mainad {
		height: 100px;
		line-height: 100px;
		margin-top: 20px;
		background: #ccc;
		border-radius: 10px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
		width: 100%;
	}
	.shopicon {
		margin-top: 10px;
	}
	.shoptitle {
		text-align: center;
		font-size: 20px;
		color: #333;
		font-family: 'sanet';
		padding-top: 40px;
	}
}
@media (min-width: 1280px) and (max-width: 1365px) {
    .content {
        width: 100%;
    }
	.calendaritem {
		width: 40%;
	}
	.headbar {
		height: 75px;
		line-height: 75px;
	}
	
	.headbarcol3 {
		padding-top: 6px;
	}
	.headbarcol1 {
		padding-top: 6px;
	}
	.lastitem {
		display: none;
	}

       .port-item{
        width: 22.8%;
       margin-right:24px;
    }
    .sec2prod > div:nth-child(4) .port-item{
        margin-right:0;
    }
    .sec2prod > div:nth-child(5) .port-item{
       display:none;
    }
	.sec2prod {
	margin-right: 3%;
    margin-left: 3%;
	width: 94%;
	margin-top: 5px;
	}
	.sec2ads {
    margin-top: 20px;
}
	.sec2rad {
    width: 45%;
    margin-right: 4.7%;
	}
	.sec2lad {
    width: 45%;
    margin-left: 3.8%;
	}
	.sec2title{
		margin-top: 0px;
		margin-bottom: 10px;
	}
	.sec2more{
		margin-top: 10px;
	}
	.sec2itemtop {
    height: 270px;
	}
	.headbarcol2 {
		padding-top: 6px;
		}
	.row {
		margin-left: 3%;
		margin-right: 3%;
		width:94%;
		margin-top: 150px;
	}
	.row2 {
		margin-left: 3%;
		margin-right: 3%;
		width:94%;
		margin-top: 50px;
	}
	.index-left-column {
		width: 28%;
		float: left;
	}
	.addon {
		float: right;
		width: 79%;
	}
	.index-right-column {
		width: 70%;
		float: right;
	}
	.recentgallery img {
		height: 140px;
		width: 100%;
		border-radius: 10px 10px 0 0;
	}
	.recentgallerytitle {
		height: 30px;
		margin-top: -4px;
		background: #cc3366;
		border-radius: 0 0 10px 10px;
		font-family: 'sanet';
		font-size: 20px;
		color: #fff;
		line-height: 30px;
		text-align: center
	}
	.leftdiv {
		width: 29%;
		float: left;
	}
	.gallerycalendar {
		width: 100%;
		background: #fff200;
		height: 80px;
		border-radius: 10px;
		line-height: 80px;
		font-family: 'sanet';
		font-size: 25px;
		color: #333;
		text-align: center;
	}
	.callbacks_container{
		width: 79% !important;
		float: right !important;
		margin-bottom: 0px !important;
	}
	.gctitle {
		display: inline-block;
  vertical-align: middle;
  line-height: 34px;
	}
	.shop {
		margin-top: 10px;
		width: 100%;
		background: #e1e1e1;
		height: 80px;
		border-radius: 10px;
	}
	.shop img {
		width: auto;
		height: 30px;
	}
	.maptitle {
		width: 60%;
		float: left;
		height: 30px;
		border-radius: 10px 10px 0 0;
		background: #6dcff6;
		font-size: 20px;
		color: #fff;
		margin-left: 20px;
		text-align: center;
		line-height: 30px;
		font-family: 'sanet';
	}
	.map img {
		width: 60%;
		height: 140px;
		border-radius: 0 0 10px 10px;
		float: left;
		margin-left: 20px
	}
	.artists {
		width: 29%;
		margin-top: 20px;
		background: #ebebeb;
		height: 80px;
		border-radius: 10px;
		color: #333;
		line-height: 80px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
	}
	.studio {
		width: 60%;
		height: 80px;
		line-height: 80px;
		margin-top: 20px;
		background: #ccc;
		border-radius: 10px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
		margin-left: 20px
	}
	.mainad {
		height: 80px;
		line-height: 80px;
		margin-top: 20px;
		background: #ccc;
		border-radius: 10px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
		width: 91.4%;
	}
	.shopicon {
		margin-top: 10px;
	}
	.shoptitle {
		text-align: center;
		font-size: 20px;
		color: #333;
		font-family: 'sanet';
		padding-top: 10px;
	}
}
@media (min-width: 1024px) and (max-width: 1279px) {
    .content {
        width: 100%;
    }

	.row {
		margin-left: 3%;
		margin-right: 3%;
		width:94%;
		margin-top: 130px;
	}
	.row2 {
		margin-left: 3%;
		margin-right: 3%;
		width:94%;
		margin-top: 60px;
	}
	.index-left-column {
		width: 29%;
		float: left;
	}
	.index-right-column {
		width: 70%;
		float: right;
	}
	.recentgallery img {
		height: 135px;
		width: 100%;
		border-radius: 10px 10px 0 0;
	}
	.recentgallerytitle {
		height: 35px;
		margin-top: -4px;
		background: #cc3366;
		border-radius: 0 0 10px 10px;
		font-family: 'sanet';
		font-size: 20px;
		color: #fff;
		line-height: 35px;
		text-align: center
	}
	.leftdiv {
		width: 29%;
		float: left;
	}
	.gallerycalendar {
		width: 100%;
		background: #fff200;
		height: 80px;
		border-radius: 10px;
		line-height: 80px;
		font-family: 'sanet';
		font-size: 25px;
		color: #333;
		text-align: center;
	}
	.gctitle {
		display: inline-block;
  vertical-align: middle;
  line-height: 34px;
	}
	.shop {
		margin-top: 10px;
		width: 100%;
		background: #e1e1e1;
		height: 80px;
		border-radius: 10px;
	}
	.maptitle {
		width: 69%;
		float: left;
		height: 50px;
		border-radius: 10px 10px 0 0;
		background: #6dcff6;
		font-size: 20px;
		color: #fff;
		margin-left: 10px;
		text-align: center;
		line-height: 50px;
		font-family: 'sanet';
	}
	.map img {
		width: 69%;
		height: 120px;
		border-radius: 0 0 10px 10px;
		float: left;
		margin-left: 10px
	}
	.artists {
		width: 29%;
		margin-top: 20px;
		background: #ebebeb;
		height: 80px;
		border-radius: 10px;
		color: #333;
		line-height: 80px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
	}
	.studio {
		width: 69%;
		height: 80px;
		line-height: 80px;
		margin-top: 20px;
		background: #ccc;
		border-radius: 10px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
		margin-left: 10px
	}
	
	.mainad {
		height: 60px;
		line-height: 60px;
		margin-top: 10px;
		background: #ccc;
		border-radius: 10px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
		width: 100%;
	}
	.shopicon {
		margin-top: 10px;
	}
	.shopicon img{
		height: 30px;
		width: auto;
	}
	.sec2itemtop img {height: 230px;}
	.sec2itemtop img {min-height: 230px;}
	.sec2itemtop {height: 230px;}
	.sec2title {margin-bottom: 10px;}
	.shoptitle {
		text-align: center;
		font-size: 20px;
		color: #333;
		font-family: 'sanet';
		padding-top: 8px;
	}
	
	

       .port-item{
         width: 30%;
       margin-right:24px;
    }
       .sec2prod > div:nth-child(3) .port-item{
     margin-right:0;
    }
    .sec2prod > div:nth-child(4) .port-item{
      display:none;
    }
    .sec2prod > div:nth-child(5) .port-item{
       display:none;
    }
	
}
@media (min-width: 800px) and (max-width: 1023px) {
    .content {
        width: 100%;
    }
	.row {
		margin-left: 3%;
		margin-right: 3%;
		width:94%;
		margin-top: 130px;
	}
	.row2 {
		margin-left: 3%;
		margin-right: 3%;
		width:94%;
		margin-top: 60px;
	}
	.index-left-column {
		width: 100%;
		float: left;
	}
	.index-right-column {
		width: 100%;
		float: right;
	}
	.recentgallery img {
		height: 220px;
		width: 100%;
		border-radius: 10px 10px 0 0;
	}
	.recentgallerytitle {
		height: 50px;
		width: 100%;
		margin-top: -4px;
		background: #cc3366;
		border-radius: 0 0 10px 10px;
		font-family: 'sanet';
		font-size: 20px;
		color: #fff;
		line-height: 50px;
		text-align: center
	}
	.addon {
	width: 48%;
	float: left;
	}
	.headbarcol3 {
		display: none;
	}
	.leftdiv {
		width: 29%;
		float: left;
	}
	.gallerycalendar {
		width: 100%;
		background: #fff200;
		height: 130px;
		border-radius: 10px;
		line-height: 130px;
		font-family: 'sanet';
		font-size: 25px;
		color: #333;
		text-align: center;
	}
	.gctitle {
		display: inline-block;
  vertical-align: middle;
  line-height: 34px;
	}
	.shop {
		margin-top: 10px;
		width: 100%;
		background: #e1e1e1;
		height: 130px;
		border-radius: 10px;
	}
	.maptitle {
		width: 69%;
		float: left;
		height: 50px;
		border-radius: 10px 10px 0 0;
		background: #6dcff6;
		font-size: 20px;
		color: #fff;
		margin-left: 10px;
		text-align: center;
		line-height: 50px;
		font-family: 'sanet';
	}
	.map img {
		width: 69%;
		height: 220px;
		border-radius: 0 0 10px 10px;
		float: left;
		margin-left: 10px
	}
	.artists {
		width: 29%;
		margin-top: 10px;
		background: #ebebeb;
		height: 120px;
		border-radius: 10px;
		color: #333;
		line-height: 120px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
	}
	.studio {
		width: 69%;
		height: 120px;
		line-height: 120px;
		margin-top: 10px;
		background: #ccc;
		border-radius: 10px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
		margin-left: 10px
	}
	.mainad {
		height: 100px;
		line-height: 100px;
		margin-top: 10px;
		background: #ccc;
		border-radius: 10px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
		width: 100%;
	}
	.shopicon {
		margin-top: 10px;
	}
	.shoptitle {
		text-align: center;
		font-size: 20px;
		color: #333;
		font-family: 'sanet';
		padding-top: 40px;
	}
	
	

    
       .port-item{
         width: 45%;
       margin-right:5%;
    }
       .sec2prod > div:nth-child(2) .port-item{
      margin-right:0;
    }
       .sec2prod > div:nth-child(3) .port-item{
      display:none;
    }
    .sec2prod > div:nth-child(4) .port-item{
      display:none;
    }
    .sec2prod > div:nth-child(5) .port-item{
       display:none;
    }
}
@media (min-width: 1px) and (max-width: 799px) {
    .content {
        width: 100%;
    }
	.topnav {
		display: none;
	}
	
	 .port-item{
         width: 45%;
       margin-right:5%;
       display:none;
    }
       .sec2prod > div:nth-child(1) .port-item{
       display:block;
       width:100%;
    }
      
	.btnu {
		display: none;
	}
	.btnr {
		display: none;
	}
	.btns {
		display: none;
	}
	.headbarcol2 {
		display: none;
	}
	.row {
		margin-left: 3%;
		margin-right: 3%;
		width:94%;
		margin-top: 130px;
	}
	.row2 {
		margin-left: 3%;
		margin-right: 3%;
		width:94%;
		margin-top: 60px;
	}
	.index-left-column {
		width: 100%;
		float: left;
	}
	.index-right-column {
		width: 100%;
		float: right;
	}
	.recentgallery img {
		height: 220px;
		width: 100%;
		border-radius: 10px 10px 0 0;
	}
	.recentgallerytitle {
		height: 50px;
		width: 100%;
		margin-top: -4px;
		background: #cc3366;
		border-radius: 0 0 10px 10px;
		font-family: 'sanet';
		font-size: 20px;
		color: #fff;
		line-height: 50px;
		text-align: center
	}
	.addon {
	width: 100%;
	float: left;
	}
	.headbarcol3 {
		display: none;
	}
	.leftdiv {
		width: 100%;
		float: left;
	}
	.gallerycalendar {
		width: 49%;
		background: #fff200;
		height: 130px;
		border-radius: 10px;
		line-height: 130px;
		font-family: 'sanet';
		font-size: 15px;
		color: #333;
		text-align: center;
		float: left;
	}
	.gctitle {
		display: inline-block;
  vertical-align: middle;
  line-height: 24px;
	}
	.shop {
		width: 49%;
		float: right;
		background: #e1e1e1;
		height: 130px;
		border-radius: 10px;
	}
	.maptitle {
		width: 100%;
		float: left;
		height: 50px;
		border-radius: 10px 10px 0 0;
		background: #6dcff6;
		font-size: 20px;
		color: #fff;
		text-align: center;
		line-height: 50px;
		font-family: 'sanet';
		margin-top: 20px;
	}
	.map img {
		width: 100%;
		height: 220px;
		border-radius: 0 0 10px 10px;
		float: left;
	}
	.artists {
		width: 39%;
		margin-top: 10px;
		background: #ebebeb;
		height: 100px;
		border-radius: 10px;
		color: #333;
		line-height: 120px;
		font-family: 'sanet';
		text-align: center;
		font-size: 15px;
		float: left;
	}
	.studio {
		width: 57%;
		height: 100px;
		line-height: 120px;
		margin-top: 10px;
		background: #ccc;
		border-radius: 10px;
		font-family: 'sanet';
		text-align: center;
		font-size: 15px;
		float: right;
		margin-left: 10px
	}
	.mainad {
		height: 100px;
		line-height: 100px;
		margin-top: 10px;
		background: #ccc;
		border-radius: 10px;
		font-family: 'sanet';
		text-align: center;
		font-size: 25px;
		float: left;
		width: 100%;
	}
	.shopicon {
		margin-top: 10px;
	}
	.shoptitle {
		text-align: center;
		font-size: 20px;
		color: #333;
		font-family: 'sanet';
		padding-top: 40px;
	}
}