/*Main*/
html {
	display: inline;
}
body {
	margin: 0 0 0 0 !important;
	display: inline;
}
a {
	text-decoration: none;
}
/*Fonts*/
@font-face {
    font-family: 'sanet'; 
    src: url('../fonts/sanet.ttf');
}
/*Topnav*/
.fullhead {
	position: fixed;
	display: block;
	z-index: 99;
	width: 100%;
	top: 0;
}
.demo-gallery {z-index: 999999;}
.topnav {
	float: left;
}
.btny {
	width: 130px;
	height: 40px;
	border-radius: 5px;
	border: none;
	background: #fef200;
	font-family: 'sanet';
	color: #555555;
	font-size: 17px;
}
.xptitle {
	float: left;
	margin-right: 5px;
	font-size: 18px;
	font-weight: 500;
}
.xpicon {
	float: left;
	margin-right: 5px;
	line-height: 15px;
}
.xpvalue {
	float: left;
	font-weight: 500;
	font-size: 18px;
}
.xprow {
	height: 18px;
	line-height: 18px;
}
.topauth {
	float: right;
	color: #fff;
    font-family: 'sanet'; 
}
.topauth > * {
    cursor:pointer;
}
.fbs {float: left; padding-top: 4px; }
.leftsideport {
}
.footer{margin-top: 220px; background: #333; width: 100%; height: 100px; margin-bottom: 20px; border-radius:10px;}
.ramee {
	float: left;
}
.porad {width: 100%; height: 100%; background: #ccc; margin-top: 50px; height: 180px; border-radius: 10px; text-align: center; line-height: 180px; font-family: 'sanet';}
.socialshare {float: right; margin-top: 15px;}
.topnav a {
	color: #fff;
	text-decoration: none;
    font-family: 'sanet'; 
	font-size: 18px;
	margin-right: 20px;
}
.topmenu {
	height: 45px;
	line-height: 45px;
	background: #363636;
	width: 100%;
}
.kidetop {
	margin-left: 3%;
    margin-right: 3%;
    width: 94%;
	float: left;
}
.headbar {
	height: 65px;
	max-width: 100%;
	background: #555;
}
.headbarcol1 {
	line-height: 65px;
	height: 65px;
	float: left;
	margin-top: -2px;
}
.headbarcol2 {
	line-height: 65px;
	height: 65px;
	float: left;
    font-family: 'sanet'; 
	font-size: 18px;
	padding-left: 40px;
}
.headbarcol3 {
	line-height: 55px;
	height: 85px;
	float: right;
    font-family: 'sanet'; 
	font-size: 18px;
}
.headbarcol3 > *{
    cursor:pointer;
}
.kidetop .headbarcol3 > button:last-child{
    width:200px;
}
.headbarcol7 {
	line-height: 55px;
	height: 85px;
	float: right;
    font-family: 'sanet'; 
	font-size: 18px;
}
.btns {
	width: 130px;
	height: 40px;
	border-radius: 5px;
	border: none;
	background: #fff200;
	font-family: 'sanet'; 
	color: #555;
	font-size: 17px;
}
.btnr {
	width: 130px;
	height: 40px;
	border-radius: 5px;
	border: none;
	background: #6dcff6;
	font-family: 'sanet'; 
	color: #fff;
	font-size: 17px;
}
.bootstrap-wrapper .modal-content2{
	margin-top: 0%; 
	}

.btnu {
	width: 130px;
	height: 40px;
	border-radius: 5px;
	border: none;
	background: #cc3366;
	font-family: 'sanet';
	color: #fff;
	font-size: 17px;
}
.row{
	position: relative;
	display: inline-block;
}
.rowz {
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
}
.linez {
	border-bottom: 1px solid #ccc;
	width: 100%;
}
.sec2sortsnav a{
	margin-right: 20px;
}
.browse {
	font-family: 'sanet';
	text-align:center;
	vertical-align:middle
}
.browse img{
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (max-width : 540px) 
            {
                .chat-sidebar
                {
                    display: none !important;
                }
                
                .chat-popup
                {
                    display: none !important;
                }
            }
            
            .chat-sidebar
            {
                width: 200px;
                position: fixed;
                height: 100%;
                right: 0px;
                top: 0px;
                padding-top: 10px;
                padding-bottom: 10px;
                border: 1px solid rgba(29, 49, 91, .3);
            }
            
            .sidebar-name 
            {
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 4px;
                font-size: 12px;
            }
            
            .sidebar-name span
            {
                padding-left: 5px;
            }
            
            .sidebar-name a
            {
                display: block;
                height: 100%;
                text-decoration: none;
                color: inherit;
            }
            
            .sidebar-name:hover
            {
                background-color:#e1e2e5;
            }
            
            .sidebar-name img
            {
                width: 32px;
                height: 32px;
                vertical-align:middle;
            }
            
            .popup-box
            {
                display: none;
                position: fixed;
                bottom: 0px;
                right: 220px;
                height: 285px;
                background-color: rgb(237, 239, 244);
                width: 300px;
                border: 1px solid rgba(29, 49, 91, .3);
            }
            
            .popup-box .popup-head
            {
                background-color: #6d84b4;
                padding: 5px;
                color: white;
                font-weight: bold;
                font-size: 14px;
                clear: both;
            }
            
            .popup-box .popup-head .popup-head-left
            {
                float: left;
            }
            
            .popup-box .popup-head .popup-head-right
            {
                float: right;
                opacity: 0.5;
            }
            
            .popup-box .popup-head .popup-head-right a
            {
                text-decoration: none;
                color: inherit;
            }
            
            .popup-box .popup-messages
            {
                height: 100%;
                overflow-y: scroll;
            }
			.modalimg img {
				height: 300px;
			}
			.pauthor {
				font-size: 14px;
			}
			.autitle {
				font-size: 20px;
				font-weight: 200;
			}
			.auleft{
				float: left;
				margin-top: 10px
			}
			.aufb {
				float: left;
				margin-right: 10px;
			}
			.autweeter {
				float: left;
				margin-right: 10px;
			}
			.aumail {
				float: left;
				margin-right: 10px;
			}
			.auavatar img {
				width: 100px;
				height: 100px;
				margin-left: auto;
				margin-right: auto;
			}
			.auavatar {
				float: left;
				margin-left: 10px;
				background: #fff;
				padding: 10px;
				margin-bottom: 10px;
				margin-top: 10px;
				border-radius: 50%;
				width: 120px;
				height: 120px;
			}
			.clear {
    clear: both;
}
			.gamocera {
				cursor: pointer;
				width: 180px;
				border-radius: 10px;
				background-color: #7accc8;
				color: #fff;
				font-size: 30px;
				font-family: 'sanet';
				height: 60px;
				line-height: 60px;
				text-align: center;
                display:inline-block;
			}
			.gamocera:hover {
				background-color: #5daeaa;
			}
			.datepub {
				margin-top: 25px;
				font-family: 'sanet';
				color: #333;
				font-size: 12px;
			}
/*Down Section Arrow*/
@-webkit-keyframes mainsecdownicon-jump {
  0%   { opacity: 0;}
  100% { opacity: 1; 
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -0-transform: translateY(10px);
        transform: translateY(10px);
    }
  
}
.mainsecdownicon {
  -webkit-animation: mainsecdownicon-jump 2s infinite; /* Safari 4+ */
  -moz-animation:    mainsecdownicon-jump 2s infinite; /* Fx 5+ */
  -o-animation:      mainsecdownicon-jump 2s infinite; /* Opera 12+ */
  animation:         mainsecdownicon-jump 2s infinite; /* IE 10+, Fx 29+ */
}

.scrolldown {
	width: 100%;
}
.arrow {
		margin-left: auto;
	margin-right: auto;
	width: 50px;
		margin-top: -10px;
		height: 40px;
}
.mainsadme {width: 100%;
position: relative;
display: inline-block;}
/*Edit Content*/
.fulledit {
	margin-top: 25px;
}
.main {
	max-width: 200px;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	height: 200px;
	margin-top: 300px;
}
.leftedit {
	width: 20%;
	float: left;
	background: #333;
	margin-right: 25px;
	min-height: 300px;
}
.atvirtext { font-family: 'sanet'; color: #fff; font-size: 20px; width: 100%; margin-top: 20px;}
.atvbutton { width: 200px; height: 60px; line-height: 60px; font-family: 'sanet'; color: #fff; background: #ff6699; border-radius: 10px; text-align: center; font-size: 20px; margin-top: 30px;}
.gagzbutton { 
      width: 200px;
    height: 60px;
    line-height: 60px;
    font-family: 'sanet'!important;
    color: #333;
    background: #fff200;
    border-radius: 10px;
    text-align: center;
    font-size: 20px!important;
    margin-top: 30px!important;
    outline: none!important;
    border: none;
}

.murightside { float: right; width: 50%; border-left: 2px solid #fff; padding-left: 30px;}
.muleftside {float: left; width: 50%;}
.shekmnatitle {font-family: 'sanet'; font-size: 30px; color: #fff; text-align: center; margin-top: 30%;}
.authorize {margin-top: 30px; font-family: 'sanet'; color: #fff; font-size: 20px; text-align: center; color: #fff;}
.authorize a {color: #fff;}
.organizeba {font-family: 'sanet'; font-size: 25px; color: #fff;}
.upgallery input { width: 50%; height: 50px; border-radius: 10px; border: none; margin-top: 20px;
                   padding-left:20px;
-webkit-box-shadow: inset 0px 0px 23px -6px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 23px -6px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 23px -6px rgba(0,0,0,0.75);
outline:none;
background: #ebebeb;
}
.upgallery input::-webkit-input-placeholder { padding-left: 20px; font-family: 'sanet';}
.rightedit {
	width: 75%;
	float: left;
	min-height: 200px;
	padding: 0px;
	-webkit-box-shadow: 0px 0px 31px -2px rgba(0,0,0,0.11);
-moz-box-shadow: 0px 0px 31px -2px rgba(0,0,0,0.11);
box-shadow: 0px 0px 31px -2px rgba(0,0,0,0.11);
}
.edittitle::-webkit-input-placeholder {
	font-family: 'sanet';
}
.edittitle::-moz-placeholder {
	font-family: 'sanet';
}
.edittitle:-ms-input-placeholder {
	font-family: 'sanet';
}
.edittitle:-moz-placeholder {
	font-family: 'sanet';
}
.rightedithead {
	background: #fcfcfc;
	border-bottom: 1px solid #ccc;
}
.edittitle {
height: 40px;
font-size: 20px;
width: 300px;
padding: 10px;
background: #fcfcfc;
padding-left: 20px;
font-family: 'sanet';
border: none;
}
.edittitle:focus {
    outline: none;
}
/*Section Two*/
.leftsideport {
	float: left;
}
.rightsideport {
	float: left;
}
.procont {
	margin-left: auto;
	margin-right: auto;
}
	.sec2title {
		font-family: 'sanet';
		margin-top: 20px;
		margin-bottom: 40px;
		text-align: center;
		font-size: 30px;
		color: #555;
	}
	
	.sec2prod {
			margin-right: 3%;
    margin-left: 3%;
	width: 94%;
		display: inline-block;
		margin-top: 20px;
	}
	
	.portprod {
		display: inline-block;
		float: left;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.port-item{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		width: 250px;
		float: left;
		
		border-radius: 10px;
		cursor: pointer;
		margin-bottom: 10px;
		list-style: none;
	}
	#map-obj{
            width: 100%;
    height: 450px;
	}
    #map-obj {
    overflow:visible;
    }
	.sec2itemtop img{
		border-radius: 10px 10px 0 0;
		width: 100%;
		height: 100%;
		min-height: 280px;
		min-width: 250px;
	}
	
	.sec2itemtop {
		height: 280px;
	}
	
	.sec2itembottom {
		overflow:hidden;
	}
	.itemstat {
		width: 250px;
		padding-top: 15px;
		margin-left: 5px;
		margin-right: 5px;
	}
	.itemlike {
		float: left;
		margin-right: 5px;
        
        height:24px;
        background-image:url(../images/item/like.png);
            background-position: left;
    padding-left: 24px;
    background-repeat: no-repeat;
	}
    .itemlike:hover{
        background-image:url(../images/liked.png);
    }
	.itemlike p {
		font-size: 14px;
		margin-top: 5px;
		margin-left: 5px;
		float: left;
	}
	.itemlike img {
		float: left;
	}
	.itemshare {
		float: left;
		height: 20px;
		margin-right: 5px;
	}
	.itemshare p {
		font-size: 14px;
		margin-top: 5px;
		margin-left: 5px;
		float: left;
	}
	.itemshare img {
		float: left;
	}
	.itemview {
		float: left;
		height: 20px;
	}
	
	.itemview p {
		font-size: 14px;
		margin-top: 5px;
		margin-left: 5px;
		float: left;
	}
	
	.itemview img {
		float: left;
	}
	
	.itemauthor {
		bottom: 45px;
		float: right;
		margin-top: 10px;
        overflow:hidden;
		padding-right: 20px;
	}
	.itemauthor a {
		color: #333;
		font-weight: bold;
	}
	.sec2more {
		width: 180px;
		border-radius: 10px;
		margin-left: auto;
		margin-right: auto;
		font-size: 35px;
		font-family: 'sanet';
		margin-top: 60px;
		color: #fff;
		text-align: center;
		line-height: 60px;
		height: 60px;
		background: #6dcff6;
	}
	.sec2ads {
		margin-top: 60px;
	}
	.sec2lad {
		width: 48%;
		float: left;
		background: #ccc;
		border-radius: 10px;
		height: 130px;
	}
	.sec2rad {
		width: 48%;
		float: right;
		background: #ccc;
		border-radius: 10px;
		height: 130px;
	}
	.prodcat {
		font-family: inherit;
		margin-top: 10px;
		font-weight: 50;
		font-size: 15px;
	}
	/*Item Open*/
	.initemstat {
		margin-top: 20px;
	}
	.initemview {
		float: left;
		margin-right: 10px;	
	}
	.itviewicon {
		float: left;
	}
	.itamount {
		float: left;
		margin-top: 4px;
		margin-left: 5px;
	}
	.initemlike {
		float: left;
		margin-right: 10px;	
	}
	.itlikeicon {
		float: left;
	}
	.itamount {
		float: left;
		margin-top: 4px;
		margin-left: 5px;
	}
	.initemcomm {
		float: left;
		margin-right: 10px;	
	}
	.itcommicon {
		float: left;
	}
	.itamount {
		float: left;
		margin-top: 4px;
		margin-left: 5px;
	}
	
	/*Gallery Calendar*/
	
	.calendaritem {
		float: left;
		margin-right: 4.9%;
		margin-left: 4.9%;
		width: 40%;
		margin-bottom: 40px;
		position: relative;
		display: inline-box;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.callad {
		width: 40%;
		float: left;
		height: 90px;
		background: #333;
		color: #fff;
		border-radius: 10px;
		text-align: center;
		line-height: 90px;
		margin-left: 5%;
		margin-bottom: 10px;
	}
	.calrad {
		width: 40%;
		float: right;
		height: 90px;
		background: #333;
		border-radius: 10px;
		color: #fff;
		text-align: center;
		line-height: 90px;
		margin-right: 5%;
		margin-bottom: 10px;
	}
	.calleft {
		float: left;
	}
	.calday {
		width: 80px;
		height: 70px;
		color: #555;
		text-align: center;
		line-height: 70px;
		font-family: 'sanet';
		font-size: 40px;
		background: #fff200;
	}
	.calmonth {
		background: #fff200;
		font-family: 'sanet';
		color: #555;
		font-size: 12px;
		text-align: center;
		line-height: 20px;
		border-top: 1px solid #fff;
		height: 20px;
		width: 80px;
	}
	.calright {
		float: left;
		margin-left: 15px;
	}
	.caltitle {
		font-family: 'sanet';
		padding-top: 5px;
		font-size: 15px;
		color: #555;
		max-width: 250px;
	}
	.caldesc {
		font-size: 12px;
		color: #555;
		width: 240px;
		margin-top: 5px;
	}
    .caldesc p{
            height: 38px;
            overflow:hidden;
    }
	.mpnter {
		cursor:pointer;
	}
	/*Sortmenu*/


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 30px;
}

.moreevents {
	width: 200px;
	height: 60px;
	border-radius: 10px;
	background: #6dcff6;
	font-family: 'sanet';
	margin-top: -20px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	color: #fff;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 190px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 30px;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

	/*Portfolio*/
	.portfolioitem img.modelImage{
		width: 250px;
		border-radius: 10px 10px 0 0;
		overflow: hidden;
	    height: 230px;
	}
	.ese {
		width: 1375px;
	}
	.portfolioitem {
		width: 250px;
		float: left;
		margin-right: 25px;
		border-radius: 10px;
		background: #d2d2d2;
		height:350px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background: #fff;
		margin-bottom: 25px;
	}
	.portfolioitemtitle {
		margin: 5px;
	}
	.portfoliolike {
		float: left;
	}
	.portfolioshare {
		float: left;
		margin-left: 10px;
	}
	.portfolioview {
		float: left;
		margin-left: 10px;
	}
	.portfolioitemauthor {
		position:absolute;
		margin-top: 50px;
		text-align: right;
		width: 240px;
		clear: both;
	}
	.portfoliolikec {
		width: 100px;
	}
	.portfoliolike img, 
	.portfolioshare img, 
	.portfolioview img{
		width: 24px;
		height: 24px;
		border-radius: initial;
		float: left;
	}
	.portfoliolikevalue {
		float: left;
		line-height: 26px;
		font-size: 14px;
		margin-left: 5px;
	}
	.portfoliosharevalue {
		float: left;
		line-height: 26px;
		font-size: 14px;
		margin-left: 5px;
	}
	.portfolioviewvalue {
		float: left;
		line-height: 26px;
		font-size: 14px;
		margin-left: 5px;
	}
	body.modal-open {
    overflow: hidden;
}
	.portfolioitemsocial {
		margin: 10px;
	}
	.porsort {
		float: left;
		width: 100%;
		font-family: 'sanet';
		font-size: 26px;
		color: #999;
	}
	.porcat  {
		float: left;
		cursor:pointer;
		height: 24px;
	}
	.pordate {
		float: left;
		cursor:pointer;
		margin-left: 10px;
	}
	.pordate p {
		float: left;
		margin-top: 1px;
		margin-right: 5px;
	}
	.porplace {
		float: left;
		cursor:pointer;
		margin-left: 10px;
	}
	.porplace p {
		float: left;
		margin-top: 1px;
		margin-right: 5px;
	}
	.porcat p {
		float: left;
		margin-top: 1px;
		margin-right: 5px;
	}
	/*Search*/
	.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    

 /* Form wrapper styling */
.search-wrapper {
width: 290px;
box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
border-radius: 5px;
}
.search {}
.tag{
	background: #ccc;
	border-radius: 5px;
	float: left;
	height: 30px;
	margin-right: 10px;
	width: auto;
	padding: 0 10px 0 10px;
	margin-top: 10px;
	line-height: 32px;
	text-align: center;
	font-family: 'sanet';
}
.tags {
	width: 290px;
	padding-bottom: 100px;
}
 
/* Form text input */
 
.search-wrapper input {
width: 208px;
height: 20px;
padding: 10px 5px;
float: left;
font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
border: 0;
background: #EEE;
border-radius: 5px 0 0 5px;
}
 
.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.search-wrapper button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 40px;
width: 72px;
color: white;
font-family: 'sanet';
text-transform: uppercase;
background: #cc3366;
border-radius: 0 5px 5px 0;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}
   
.search-wrapper button:hover{     
    background: #a92b55;
}   
   
.search-wrapper button:active,
.search-wrapper button:focus{   
    background: #a92b55;
    outline: 0;   
}
 
.search-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #cc3366 transparent;
    top: 12px;
    left: -6px;
}
 
.search-wrapper button:hover:before{
    border-right-color: #a92b55;
}
 
.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #a92b55;
}      
 
.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    

	/*Extra*/
	
	.w3-navbar{list-style-type:none;margin:0;padding:0;overflow:hidden}
.w3-navbar li{float:left}.w3-navbar li a,.w3-navitem{display:block;padding:8px 16px}.w3-navbar li a:hover{border-bottom: 2px solid #00aeff;color:#00aeff;}
.w3-navbar .w3-dropdown-hover,.w3-navbar .w3-dropdown-click{position:static}
.w3-navbar .w3-dropdown-hover:hover,.w3-navbar .w3-dropdown-hover:first-child,.w3-navbar .w3-dropdown-click:hover{background-color:#ccc;color:#000}
.w3-navbar a,.w3-topnav a,.w3-sidenav a,.w3-dropdown-content a,.w3-accordion-content a,.w3-dropnav a{text-decoration:none!important}
.w3-navbar .w3-opennav.w3-right{float:right!important}.w3-topnav{padding:8px 8px}
.w3-navbar a,.w3-sidenav a,.w3-pagination li a,.w3-hoverable tbody tr,.w3-hoverable li,.w3-accordion-content a,.w3-dropdown-content a,.w3-dropdown-click:hover,.w3-dropdown-hover:hover,.w3-opennav,.w3-closenav,.w3-closebtn,
.w3-hover-amber,.w3-hover-aqua,.w3-hover-blue,.w3-hover-light-blue,.w3-hover-brown,.w3-hover-cyan,.w3-hover-blue-grey,.w3-hover-green,.w3-hover-light-green,.w3-hover-indigo,.w3-hover-khaki,.w3-hover-lime,.w3-hover-orange,.w3-hover-deep-orange,.w3-hover-pink,
.w3-hover-purple,.w3-hover-deep-purple,.w3-hover-red,.w3-hover-sand,.w3-hover-teal,.w3-hover-yellow,.w3-hover-white,.w3-hover-black,.w3-hover-grey,.w3-hover-light-grey,.w3-hover-dark-grey,.w3-hover-text-amber,.w3-hover-text-aqua,.w3-hover-text-blue,.w3-hover-text-light-blue,
.w3-hover-text-brown,.w3-hover-text-cyan,.w3-hover-text-blue-grey,.w3-hover-text-green,.w3-hover-text-light-green,.w3-hover-text-indigo,.w3-hover-text-khaki,.w3-hover-text-lime,.w3-hover-text-orange,.w3-hover-text-deep-orange,.w3-hover-text-pink,.w3-hover-text-purple,
.w3-hover-text-deep-purple,.w3-hover-text-red,.w3-hover-text-sand,.w3-hover-text-teal,.w3-hover-text-yellow,.w3-hover-text-white,.w3-hover-text-black,.w3-hover-text-grey,.w3-hover-text-light-grey,.w3-hover-text-dark-grey
{-webkit-transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s}
.w3-black,.w3-hover-black:hover{color:#fff!important;background: #fff; }
.w3-container:after,.w3-panel:after,.w3-row:after,.w3-row-padding:after,.w3-topnav:after,.w3-clear:after,.w3-btn-group:before,.w3-btn-group:after,.w3-btn-bar:before,.w3-btn-bar:after
.w3-container{padding:16px}	
.w3-navbar a{color: #333; font-family: 'sanet'; height: 40px; line-height: 30px;}
	/*Events*/
	
//updated ver
* {
  box-sizing:border-box;
}
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
.heading-primary {
  font-size:2em;
  padding:2em;
  text-align:center;
}
.accordion dl,
.accordion-list {
   border:1px solid #ddd;
   &:after {
       content: "";
       display:block;
       height:1em;
       width:100%;
       background-color:darken(#38cc70, 10%);
     }
}
.accordion dd,
.accordion__panel {
   background-color:#eee;
   font-size:1em;
   line-height:1.5em; 
}
.accordion p {
  padding:1em 2em 1em 2em;
}

.accordion {
    position:relative;
    background-color:#eee;
}
.container {
  max-width:70%;
  float: left;
  margin-right: 20px;
  padding:2em 0 2em 0;
}
.accordionTitle,
.accordion__Heading {
 background-color:#38cc70; 
     font-weight:700; 
          display:block;
          text-decoration:none;
          color:#fff;
          transition:background-color 0.5s ease-in-out;
  border-bottom:1px solid darken(#38cc70, 5%);
  &:before {
   content: "+";
   font-size:1.5em;
   line-height:0.5em;
   float:left; 
   transition: transform 0.3s ease-in-out;
  }
  &:hover {
    background-color:darken(#38cc70, 10%);
  }
}
.accordionTitleActive, 
.accordionTitle.is-expanded {
   background-color:darken(#38cc70, 10%);
    &:before {
     
      transform:rotate(-225deg);
    }
}
.clear {clear: both;}
.eventdate {
	float: left;
	width: 40px;
	margin-left: 20px;
	font-family: 'sanet';
	margin-bottom: 15px;
}
.eventday {
		font-size: 40px;
		margin-top: 15px;
		text-align: center;
}
.eventmonth {
	font-size: 15px;
	font-family: 'sanet';
	text-align: center;
}
.eventhead {
	float: left;
	font-family: 'sanet';
	margin-left: 40px;
	margin-top: 10px;
}
.eventtitle {
	font-size: 28px;
	margin-top: 5px;
}
.eventdesc {
	font-size: 18px;
	margin-top: 5px;
}
.desctime {
	float: left;
	margin-top: 2px;
	margin-left: 7px;
	margin-right: 7px;
}
.desctimeimage {
	float: left;
}
.descplace {
	float: left;
		margin-top: 2px;
	margin-left: 7px;
	margin-right: 7px;
}
.descplaceimage {
	float: left;
}
.content-event {
	display: none;
}


.expand-event{
	background: #6dcff6;
	color: #fff;
    cursor: pointer;
	cursor: pointer;
	border-radius: 10px;
    margin-bottom:10px;
}

.accordionItem {
    height:auto;
    overflow:hidden; 
    //SHAME: magic number to allow the accordion to animate
    
     max-height:50em;
    transition:max-height 1s;   
 
    
    @media screen and (min-width:48em) {
         max-height:15em;
        transition:max-height 0.5s
        
    }
    
   
}
 .colapseimg img{
	 width: 100%;
 }
 .eventmore {
	 width: 100%;
	 background: #dbdbdb;
	 font-family: 'sanet';
	 font-size: 20px;
	 min-height: 200px;
	 color: #555555;
 }
 .eventmorecontent {
	 padding: 20px;
	 display: block;
	 border-bottom: 1px solid #949494;
 }
 .descdesc {
	 padding: 20px;
	 color: #939393;
 }
 .moreinfomore {
	 width: 99%;
	 margin-left: auto;
	 margin-right: auto;
	 border-bottom: 1px solid;
	 margin-top: 20px;
	 margin-bottom: 50px;
 }
 .damatebiti {
	 margin-top: 10px;
	 margin-bottom: 10px;
	 border-bottom: 1px solid;
	 padding-bottom: 10px;
	 padding-top: 20px;
 }
 .moretime {
	 margin-top: 5px;
	 margin-bottom: 5px;
 }
 .morelocation {
	 margin-top: 5px;
	 margin-bottom: 5px;
 }
 .moremorel {
	 float: left;
	 text-align: center;
	 width: 50%;
	 border-left: 1px solid;
	 border-bottom: 1px solid;
	 padding-bottom: 10px;
 }
 .moremorer {
	 float: right;
	 padding-bottom: 10px;
	 text-align: center;
	 width: 49%;
	 border-left: 1px solid;
	 border-bottom: 1px solid;
	 border-right: 1px solid;
 }
.accordionItem.is-collapsed {
    max-height:0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
     animation: accordionIn 0.45s normal ease-in-out both 1; 
}
.animateOut {
     animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordionOut {
    0% {
       opacity: 1;
       transform:scale(1);
     }
     100% {
          opacity:0;
           transform:scale(0.9) rotateX(-60deg);
       }
}
	/*Date Picker*/
	.c-btn {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  line-height: 36px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  min-width: 88px;
  height: 36px;
  margin: 10px 8px;
  padding: 0 8px;
  text-align: center;
  letter-spacing: .5px;
  border-radius: 2px;
  background: #F1F1F1;
  color: #393939;
  transition: background 200ms ease-in-out;
  box-shadow: 0 3.08696px 5.82609px 0 rgba(0, 0, 0, 0.16174), 0 3.65217px 12.91304px 0 rgba(0, 0, 0, 0.12435);
}
.c-btn--flat {
  background: transparent;
  margin: 10px 8px;
  min-width: 52px;
}
.c-btn:hover {
  background: rgba(153, 153, 153, 0.2);
  color: #393939;
}
.c-btn:active {
  box-shadow: 0 9.6087px 10.78261px 0 rgba(0, 0, 0, 0.17217), 0 13.56522px 30.3913px 0 rgba(0, 0, 0, 0.15043);
}
.c-btn--flat, .c-btn--flat:hover, .c-btn--flat:active {
  box-shadow: none;
}
	/*TXT EDITOR*/
	#editor-container {
    height: 350px;
  }
	/*Font Styles*/
	.sanet {
		font-family: 'sanet';
	}
	