
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}
.sr-only--focusable:active,
.sr-only--focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}body{margin:0;color:#333;font-family:"Helvetica","Arial",sans-serif;font-weight:400;line-height:20px}
.header{position:relative;z-index:1;height:48px;padding-left:16px;padding-right:16px;background-color:#666}@media (min-width: 768px){
.header{padding-left:24px;padding-right:24px}}
.title{float:left;display:block;font-size:18px;line-height:48px;color:#fff}
.main{position:absolute;top:0px;right:0;bottom:0;left:0;background-color:#dadada; border-radius: 50%;}
.main>img{display:table-cell;max-width:100%;vertical-align:middle}
.footer{position:absolute;right:0;bottom:0;left:0;height:0}
.menu{float:right}
.editimagee {width: 80%; height: 500px;}
.menu__button{float:left;display:block;width:48px;height:48px;border-width:0;font-size:16px;line-height:48px;text-align:center;background-color:transparent;color:#fff;cursor:pointer}
.menu__button:focus{outline:none}
.menu__button:hover{background-color:#0074d9;color:#fff}
.menu__button--success:hover{background-color:#2ecc40}
.menu__button--danger:hover{background-color:#ff4136}
.toolbar{position:absolute;left:50%;bottom:16px;z-index:2015;width:256px;height:32px;margin-left:-128px;background-color:rgba(0,0,0,0
.5);color:#fff}
.toolbar__button{float:left;display:block;width:32px;height:32px;border-width:0;font-size:14px;text-align:center;background-color:transparent;color:#fff;cursor:pointer}
.toolbar__button:focus{outline:none}
.toolbar__button:hover{background-color:#0074d9;color:#fff}
.upload{display:table;width:100%;height:100%;overflow:hidden}
.upload>p{display:table-cell;color:#999;text-align:center;vertical-align:middle}
.browse{margin-right:4px;color:#0074d9;cursor:pointer}
.browse:hover{color:#0d8eff;text-decoration:underline}
.canvas{width:100%;height:100%}
.editor{height:100%;overflow:hidden}
.editor>img{display:block;max-width:100%;max-height:100%;margin:auto;vertical-align:middle}
