﻿
@{
    ViewBag.Title = "AddItem";
    Layout = "~/Views/Shared/_Layout.cshtml";



    var Tags = ViewBag.Tags as List<StreetArt.Data.Models.Entities.Tag>;

    var Categories = ViewBag.Categories as List<StreetArt.Data.Models.Entities.Category>;



}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/monokai-sublime.min.css" />
<link rel="stylesheet" href="@Url.Content("~/")txt/quill.snow.css" />

<div style="background:#fff;">
    <div class="content" style="background: #fff;">
        <ul class="w3-navbar w3-black row">
            <li><a href="#" onclick="openCity('London')">კონტენტი</a></li>
            <li><a href="#" onclick="openCity('Paris')">გარეკანი</a></li>
            <li><a href="#" onclick="openCity('Tokyo')">პარამეტრები</a></li>
        </ul>
    </div>
</div>
<div class="linez"></div><div class="content">
    <div class="rowz">
        <div id="London" class="w3-container city">
            <div class="fulledit">
                <div class="leftedit">
                    akrame
                </div>title
                <div class="rightedit">
                    <div class="rightedithead">
                        <input class="edittitle" type="text" name="Saxeli" placeholder="დაარქვით პროექტს სახელი" id="title">
                    </div><div id="standalone-container">
                        <div id="toolbar-container">
                            <span class="ql-formats">
                                <select class="ql-font"></select>
                                <select class="ql-size"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-strike"></button>
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-script" value="sub"></button>
                                <button class="ql-script" value="super"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-header" value="1"></button>
                                <button class="ql-header" value="2"></button>
                                <button class="ql-blockquote"></button>
                                <button class="ql-code-block"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                                <button class="ql-indent" value="-1"></button>
                                <button class="ql-indent" value="+1"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-direction" value="rtl"></button>
                                <select class="ql-align"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link"></button>
                                <button class="ql-image"></button>
                                <button class="ql-video"></button>
                                <button class="ql-formula"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-clean"></button>
                            </span>
                        </div>
                        <div id="editor-container"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="Paris" class="w3-container city">
            <main class="main">
                <div class="upload">
                    <p>
                        <img src="@Url.Content("~/")images/crap/uploadicon.png">
                        <label class="browse">
                            <br>ატვირთვა
                            <input id="file" type="file" accept="image/*" class="sr-only" name="defaultImage">
                        </label>
                    </p>
                </div>
                <div class="image-viwer-wrapper">
                    <img src="" id="image-viwer" />
                </div>
                
            </main>
        </div>
        <div id="Tokyo" class="w3-container city">
            <div class="item-el">
                <div class="label-input"><span style="color:red">*</span> Project Description: </div>
                
                <textarea id="projectDescription" name="projectDescription" placeholder="Project Description"></textarea>
            </div>
            <div class="item-el">
                <div class="label-input">Keywords:</div>
                <select class="js-example-programmatic-multi" name="tags" id="tags" multiple="" tabindex="-1" aria-hidden="true">
                    @foreach (var item in Tags)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>


            <div class="item-el">
                <div class="label-input">Category:</div>
                <select class="category-c" id="category">
                    @foreach (var item in Categories)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>

            <div class="item-el">
                <div class="label-input">SubCategory:</div>
                <select class="subcategory-c" name="subcategory" id="subcategory">
                    @foreach (var item in Categories.FirstOrDefault().SubCategories)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>

        </div>
    </div>


   
    <div class="content">
        <div class="row">
        </div>
    </div>
    <div class="mtlical">
        <div class="bootstrap-wrapper">
            <div class="modal fade2" id="myModal" role="dialog">
                <div class="modal-dialog">
                </div>
            </div>
        </div>
    </div>
    <div id="upload-img">ნაშრომის დამატება</div>
</div>
<input type="hidden" value="@ViewBag.Error" id="error" />
<input type="hidden" value="@ViewBag.Success" id="sussess" />

@section css{
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/AdminContent/Assets/css/cropper.min.css")" rel="stylesheet" />
    <style>
        .image-viwer-wrapper {
            display: none;
            width: 270px;
            height: 280px;
            position: relative;
        }

        #image-viwer {
            max-width: 100%;
        }
    </style>
}


@section Scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script>
        var error = $("#error").val();
        var success = $("#sussess").val();


        $(function () {
            if (error == "" && success == "") return;
            if (error == "") {
                swal("პროექტი წარმატებით დაემატა!", "განიხილავს ადმინისტრაცია", "success")
            } else {
                swal("დაფიქსირდა შეცდომა!", "გთხოვთ გადაამოწმოთ ინფორმაცია!", "error")
            }
        });

    </script>

    <script>
        openCity("London")
        function openCity(cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(cityName).style.display = "block";
        }
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/")txt/quill.min.js"></script>
    <script type="text/javascript">
        var quill = new Quill('#editor-container', {
            modules: {
                formula: true,
                syntax: true,
                toolbar: '#toolbar-container'
            },
            placeholder: 'განათავსეთ ტექსტი, სურათები და სხვა კონტენტი...',
            theme: 'snow'
        });
    </script>
    <script src="@Url.Content("~/")crop/js/cropper.min.js"></script>
    <script>
        var cropperItem = undefined;
        var arrayCategoryList = @Html.Raw(Json.Encode(Categories.Select(o=> new
                           {
                               id =  o.Id,
                               subcategories = o.SubCategories.Select(q=> new{ id=  q.Id, text=  q.Name })
                           })));
        $(function () {



            $('#category').change(function(){

                var selectedCategoryId =parseInt( $(this).val());

                

                for (var i = 0; i < arrayCategoryList.length; i++) {
                    var item = arrayCategoryList[i];

                    if(item.id == selectedCategoryId){
                         
                        $('#subcategory').empty().select2({data:item.subcategories}).trigger('change');
                       
                        return;
                    }


                }
            });



            var $example = $("select").select2();

            var imageUploaded = false;
            var opt = {
                viewMode: 3,
                dragMode: 'move',
                autoCropArea: 1,
                restore: false,
                modal: false,
                guides: false,
                highlight: false,
                cropBoxMovable: false,
                crop: function (e) {

                },
                built: function () {

                    cropperItem.setCropBoxData({ left: 0, top: 0, width: 270, height: 280 });
                }
            };

            function initCropper(img) {
                if (cropperItem == undefined)
                    cropperItem = new Cropper(img, opt);
                else {
                    cropperItem.destroy();
                    cropperItem = new Cropper(img, opt);
                }
                $('.image-viwer-wrapper').show();

            }


            $('#file').change(function () {

                var _URL = window.URL || window.webkitURL;

                var file, img = document.getElementById('image-viwer');

                if ((file = this.files[0])) {

                    img.src = _URL.createObjectURL(file);



                    img.onload = function () {

                        initCropper(img);

                        $(".upload").css("display", "none");
                        $("#upload-img").css("display", "table");
                        imageUploaded = true;
                    }
                }
            });


            $("#upload-img").on("click", function () {
                post();
            });


            function post() {
                method = "post";
                var base64, title, originalFile;
                

                
                title = $("#title").val();

                if( !$('#projectDescription').val()  || quill.container.firstChild.innerHTML == "<p><br></p>") {
                    swal("დაფიქსირდა შეცდომა!", "გთხოვთ შეიყვანოთ პროექტის აღწერა", "error");
                    return;
                }

                if( !$('#title').val() ) {
                    swal("დაფიქსირდა შეცდომა!", "გთხოვთ შეიყვანოთ პროექტის სათაური", "error");
                    return;
                }

                try {
                    base64 = cropperItem.getCroppedCanvas().toDataURL({ format: 'png', quality: 1 });
                    originalFile = document.getElementById("file");
                } catch (e) {
                    swal("დაფიქსირდა შეცდომა!", "გთხოვთ ატვირთოდ გარეკანის ფოტო", "error");
                    return;
                }


                var form = document.createElement("form");
                form.setAttribute("method", method);
                form.setAttribute("action", "/Account/AddWork");
                form.setAttribute("enctype", "multipart/form-data");


                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", "Discription");
                hiddenField.setAttribute("value", quill.container.firstChild.innerHTML);


                var hiddenField2 = document.createElement("input");
                hiddenField2.setAttribute("type", "hidden");
                hiddenField2.setAttribute("name", "PosterImage");
                hiddenField2.setAttribute("value", base64);


                var hiddenField3 = document.createElement("input");
                hiddenField3.setAttribute("type", "hidden");
                hiddenField3.setAttribute("name", "Title");
                hiddenField3.setAttribute("value", title);

                var hiddenField4 = document.createElement("input");
                hiddenField4.setAttribute("type", "file");
                hiddenField4.setAttribute("name", "defaultImage");
                hiddenField4.setAttribute("value", originalFile);


                form.appendChild(hiddenField);
                form.appendChild(hiddenField2);
                form.appendChild(hiddenField3);
                form.appendChild(originalFile);
                form.appendChild(document.getElementById("tags"));
                form.appendChild(document.getElementById("projectDescription"));
                form.appendChild(document.getElementById("subcategory"));




                document.body.appendChild(form);
                form.submit();
            }



            //$('form').submit(function () {
            //    $('#imageItem').val(base64);
            //});
        });
    </script>

}
