﻿@model StreetArt.Data.Models.Entities.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Styles/croppie.css" rel="stylesheet" />
<link href="~/Styles/cropper.min.css" rel="stylesheet" />

<h2>პროფილის დეტალები</h2>

<div class="content">
    <div class="row">
        <div class="User-Form">
            <h2>მომხმარებლის მონაცემები</h2>
            <h3 class="success">@ViewBag.Success</h3>
            <h3 class="error">@ViewBag.Error</h3>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    სახელი:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    გვარი
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

               

                @if (string.IsNullOrEmpty(Model.UserFBId))
                {
                    <dt>
                        ნიკი
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Username)
                    </dd>

                    <dt>
                        ელ.ფოსტა
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        დაბასების თარიღი
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Birthday)
                    </dd>

                    <dt>
                        ქალაქი
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.City)
                    </dd>
                }else
                {

                }

            </dl>

            <div class="user-photo">
                <img src="~/images/UserPhotos/@Model.Avatar" alt="user photo" class="User-photo">
            </div>
            <p>ფოტოს შეცვლა</p>
            <form action="" method="post" enctype="multipart/form-data" id="image-form">
                <input type="file" name="Photo" id="Photo" value="ფოტოს შეცვლა" />
                <div class="custom-fields">
                    <div class="inputs">
                        <p>About Me Title</p>
                        <input type="text" value="@Model.AboutTitle" name="AboutTitle" />
                    </div>
                    <div class="inputs">
                        <p>About Me Text</p>
                        <input type="text" value="@Model.AboutText" name="AboutText" />
                    </div>
                    <div class="inputs">
                        <p>FB link</p>
                        <input type="text" value="@Model.FbLink" name="FbLink" />
                    </div>
                    <div class="inputs">
                        <p>Tweeter Link</p>
                        <input type="text" value="@Model.TwLink" name="TwLink" />
                    </div>
                    <div class="inputs">
                        <p>Dribbble Link</p>
                        <input type="text" value="@Model.DribbleLink" name="DribbleLink" />
                    </div>
                    <div class="inputs">
                        <p>Linkedln Link</p>
                        <input type="text" value="@Model.LinkdinLink" name="LinkdinLink" />
                    </div>
                    <div class="inputs">
                        <p>Vimeo Link</p>
                        <input type="text" value="@Model.VimeoLink" name="VimeoLink" />
                    </div>
                    <input type="submit" value="შენახვა" />
                </div>
            </form>

        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/croppie.min.js"></script>
}