﻿@model List<StreetArt.Data.Models.Entities.Follow>

@{
    ViewBag.Title = "Follower";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = ViewBag.user as StreetArt.Data.Models.Entities.User;

}



<div class="content">
    <div class="row">
        <div class="portcont">
            <div class="profile-div">
                <div class="avatar-conteiner cont">
                    <h2 class="username">@user.FirstName @user.LastName</h2>
                    <div class="avatar-parent cont-av">
                        <img src="~/images/UserPhotos/@user.Avatar" />
                        <div class="avatar-left">
                            <p class="Username">@user.Username</p>
                            <p>@user.City</p>
                        </div>
                    </div>
                    <div class="social-rate cont-av">
                        <div class="numbers">
                            <p class="left">PROJECT VIEWS</p>
                            <p class="right">@ViewBag.UserPostViews</p>
                        </div>
                        <div class="numbers">
                            <p class="left">APPRECIATIONS</p>
                            <p class="right">@ViewBag.UserPostLikes</p>
                        </div>

                        <a class="numbers" href="@Url.Content("~/account/follows/" + user.Id)">
                            <p class="left">FOLLOWERS</p>
                            <p class="right">@ViewBag.Followers</p>
                        </a>

                        <a class="numbers" href="@Url.Content("~/account/follower/" + user.Id)">
                            <p class="left">FOLLOWING</p>
                            <p class="right">@ViewBag.Following</p>
                        </a>
                    </div>
                    <div class="focus cont-av">
                        <p class="head">FOCUS</p>
                        <p class="desc">branding, art, painting, illustrate</p>
                    </div>
                    <div class="focus cont-av">
                        <p class="head">ON THE WEB</p>
                        @if (String.IsNullOrEmpty(user.FbLink) && String.IsNullOrEmpty(user.TwLink) && String.IsNullOrEmpty(user.DribbleLink) && String.IsNullOrEmpty(user.LinkdinLink) && String.IsNullOrEmpty(user.VimeoLink))
                        {
                            <p class="desc">სოციალური ქსელები არაა</p>
                        }
                        else
                        {
                            <p class="desc">
                                @if (!String.IsNullOrEmpty(user.FbLink))
                                { <a href="@user.FbLink" target="_blank" class="social-icon"><img src="~/images/content/fbitem.png" /></a> }
                                @if (!String.IsNullOrEmpty(user.TwLink))
                                { <a href="@user.TwLink" target="_blank" class="social-icon"><img src="~/images/content/tweetitem.png" /></a> }
                                @if (!String.IsNullOrEmpty(user.DribbleLink))
                                { <a href="@user.DribbleLink" target="_blank" class="social-icon"><img src="~/images/content/dribble.png" /></a> }
                                @if (!String.IsNullOrEmpty(user.LinkdinLink))
                                { <a href="@user.LinkdinLink" target="_blank" class="social-icon"><img src="~/images/content/linkedin.png" /></a> }
                                @if (!String.IsNullOrEmpty(user.VimeoLink))
                                { <a href="@user.VimeoLink" target="_blank" class="social-icon"><img src="~/images/content/vimeo.png" /></a> }
                            </p>
                        }
                    </div>
                    <div class="focus cont-av">
                        <p class="head">@user.AboutTitle</p>
                        <p class="desc">@user.AboutText</p>
                    </div>
                </div>
            </div>
            <div class="leftsideport profile">
                <div class="ese">


                    @foreach (var item in Model)
                    {
                        <a class="author-users" href="@Url.Content("~/account/profile/"+item.Following.Id)">
                            <div class="author-images" style="background-image:url(@Url.Content("~/images/userPhotos/" + item.Following.Avatar))"></div>
                            <div class="author-names">@item.Following.FirstName @item.Following.LastName</div>
                        </a>

                    }




                </div>
            </div>
        </div>
    </div>
</div>
<div class="mtlical">
    <div class="bootstrap-wrapper">
        <div class="modal fade2" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
            </div>
        </div>
    </div>
</div>