﻿@model StreetArt.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="content">
    <div class="row">
        <form action="" method="post" class="User-Form" id="login-form">
            <h2>ავტორიზაცია</h2>
            <h3 class="error view">@ViewBag.Error</h3>
            <h3 class="success view">@ViewBag.JustLogined</h3>
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "", placeholder = "Username" } })
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "", placeholder = "Password" } })
            <input type="submit" id="register-btn" value="Log In" class="button" />
        </form>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
