﻿@model StreetArt.Models.ViewModels.WorkViewModelPr

@{
    ViewBag.Title = "პროფილის დეტალები";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="content">
    <div class="row">
        <div class="portcont">
            <div class="profile-div left-side">
                <div class="avatar-conteiner cont">
                <h2 class="username">@Model.UserProfile.FirstName @Model.UserProfile.LastName</h2>
                    <div class="avatar-parent cont-av">
                        <img src="~/images/UserPhotos/@Model.UserProfile.Avatar"/>
                        <div class="avatar-left">
                            <p class="Username">@Model.UserProfile.Username</p>
                            <p>@Model.UserProfile.City</p>
                            <a href="@Url.Action("Index","Chat")" class="personal-message">შეტყობინება</a>
                        </div>
                    </div>
                    <div class="social-rate cont-av">
                        <div class="numbers">
                            <p class="left">PROJECT VIEWS</p>
                            <p class="right">@ViewBag.UserPostViews</p>
                        </div>
                        <div class="numbers">
                            <p class="left">APPRECIATIONS</p>
                            <p class="right">@ViewBag.UserPostLikes</p>
                        </div>


                        <a class="numbers" href="@Url.Content("~/account/follows/" + Model.UserProfile.Id)">
                            <p class="left">FOLLOWERS</p>
                            <p class="right">@ViewBag.Followers</p>
                        </a>

                        <a class="numbers" href="@Url.Content("~/account/follower/" + Model.UserProfile.Id)">
                            <p class="left">FOLLOWING</p>
                            <p class="right">@ViewBag.Following</p>
                        </a>
                    </div>
                    <div class="focus cont-av">
                        <p class="head">FOCUS</p>
                        <p class="desc">branding, art, painting, illustrate</p>
                    </div>
                    <div class="focus cont-av">
                        <p class="head">ON THE WEB</p>
                        @if (String.IsNullOrEmpty(Model.UserProfile.FbLink) && String.IsNullOrEmpty(Model.UserProfile.TwLink) && String.IsNullOrEmpty(Model.UserProfile.DribbleLink) && String.IsNullOrEmpty(Model.UserProfile.LinkdinLink) && String.IsNullOrEmpty(Model.UserProfile.VimeoLink))
                        {
                            <p class="desc">სოციალური ქსელები არაა</p>
                        }
                        else
                        {
                            <p class="desc">
                                @if(!String.IsNullOrEmpty(Model.UserProfile.FbLink))
                                { <a href="@Model.UserProfile.FbLink" target="_blank" class="social-icon"><img src="~/images/content/fbitem.png" /></a> }
                                @if (!String.IsNullOrEmpty(Model.UserProfile.TwLink))
                                { <a href="@Model.UserProfile.TwLink" target="_blank" class="social-icon"><img src="~/images/content/tweetitem.png" /></a> }
                                @if (!String.IsNullOrEmpty(Model.UserProfile.DribbleLink))
                                { <a href="@Model.UserProfile.DribbleLink" target="_blank" class="social-icon"><img src="~/images/content/dribble.png" /></a> }
                                @if (!String.IsNullOrEmpty(Model.UserProfile.LinkdinLink))
                                { <a href="@Model.UserProfile.LinkdinLink" target="_blank" class="social-icon"><img src="~/images/content/linkedin.png" /></a> }
                                @if (!String.IsNullOrEmpty(Model.UserProfile.VimeoLink))
                                { <a href="@Model.UserProfile.VimeoLink" target="_blank" class="social-icon"><img src="~/images/content/vimeo.png" /></a> }
                            </p>
                        }
                    </div>
                    <div class="focus cont-av">
                        <p class="head">@Model.UserProfile.AboutTitle</p>
                        <p class="desc">@Model.UserProfile.AboutText</p>
                    </div>
                </div>
            </div>
            <div class="leftsideport profile right-side">
                <div class="ese">

                    @foreach (var item in Model.Works)
                    {
                        item.Isliked = Model.UserLikedPosts.Any(q => q == item.Id);
                        <div class="portfolioitem">
                            <div class="sec2itemtop viewItem" data-toggle="modal" data-target="#portfolioitem" data-id="@item.Id" data-action="ViewPost">
                                <img src="@Url.Content("~/")Uploads/UserWorks/@item.PosterImage" class="modelImage workImage">
                            </div>
                            <div class="sec2itembottom">
                                <div class="itemstat">
                                    @if (item.Isliked)
                                    {
                                        <div class="itemlike social ignoreClick like active" data-action="LikePost" data-id="@item.Id">
                                            <p class="workLikes">@item.Likes</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="itemlike social ignoreClick like" data-action="LikePost" data-id="@item.Id">
                                            <p class="workLikes">@item.Likes</p>
                                        </div>
                                    }
                                    <div class="itemshare social ignoreClick share" data-action="SharePost" data-id="@item.Id">
                                        <img src="@Url.Content("~/")images/item/share.png">
                                        <p class="workShares">@item.Shares</p>
                                    </div>
                                    <div class="itemview">
                                        <img src="@Url.Content("~/")images/item/view.png">
                                        <p class="workViews">@item.Views</p>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" class="worklTitle" value="@item.Title" />
                            <input type="hidden" class="workDescription" value="@item.Description" />
                            <input type="hidden" class="workAuthor" value="@item.User.FirstName @item.User.LastName" />
                            <input type="hidden" class="workPublishDate" value="@item.UploadedTime" />
                            <input type="hidden" class="workAuthorAvatar" value="@item.User.Avatar" />

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mtlical">
    <div class="bootstrap-wrapper">
        <div class="modal fade2" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
            </div>
        </div>
    </div>
</div>

