﻿@model StreetArt.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="content">
    <div class="row">
        <form action="" method="post" class="User-Form" id="register-form">
            <div class="validation-errors">
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "error" })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "error" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "error" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "error" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "error" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "error" })
                <span class="error confirmation-error" id="error1">
                    <span>
                        გთხოვთ დაეთნხმოთ პირველ პირობებს
                    </span>
                </span>
                <span class="error confirmation-error" id="error2">
                    <span>
                        გთხოვთ დაეთნხმოთ მეორე პირობებს
                    </span>
                </span>
            </div>
            <h2>რეგისტრაცია</h2>
            <h3 class="error view">
                @ViewBag.Error
            </h3>
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "little", placeholder = "First Name" } })
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "little", placeholder = "Last Name" } })
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "", placeholder = "UserName" } })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "", placeholder = "Email Address" } })
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "", placeholder = "Password" } })
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "", placeholder = "Repeat Password" } })
            
            <select name="City">
                <option value="თბილისი">თბილისი</option>
                <option value="ბათუმი">ბათუმი</option>
                <option value="ქუთაისი">ქუთაისი</option>
                <option value="რუსთავი">რუსთავი</option>
                <option value="გორი">გორი</option>
                <option value="ზუგდიდი">ზუგდიდი</option>
                <option value="ხაშური">ხაშური</option>
            </select>
            <p class="datep">Date Of Bearth</p>
            <div class="DateOfBearth">
                <select name="Month">
                    <option value="1">იანვარი</option>
                    <option value="2">თებერვალი</option>
                    <option value="3">მარტი</option>
                    <option value="4">აპრილი</option>
                    <option value="5">მაისი</option>
                    <option value="6">ივნისი</option>
                    <option value="7">ივლისი</option>
                    <option value="8">აგვისტო</option>
                    <option value="9">სექტემბერი</option>
                    <option value="10">ოქტომბერი</option>
                    <option value="11">ნოემბერი</option>
                    <option value="12">დეკემბერი</option>
                </select>
                <select class="little" name="Day">
                    <option value="Day" disabled>დღე</option>
                    @for (int i = 1; i < 32; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <select class="little" name="Year">
                    @for (int i = DateTime.Now.Year; i > 1960; i--)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="confirmation">
                <input name="ConfirmProducts" type="checkbox" checked="" />
                <p>ვეთანხმები იასნად </p>
            </div>
            <div class="confirmation">
                <input name="ConfirmTerms" type="checkbox" checked="" />
                <p>ვეთანხმები და ყველაფერზე თანახმა ვარ</p>
            </div>
            <div class="NotRoboT">

            </div>
            <input type="submit" id="register-btn" value="SIGN UP" class="button" />
        </form>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
