﻿@model List<StreetArt.Data.Models.Entities.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content">
    <div class="row">
        
        <div class="portcont">
            <div class="leftsideport">
                <div class="ese">


                    @foreach (var item in Model)
                    {
                        <a class="author-users" href="@Url.Content("~/account/profile/"+item.Id)">
                            <div class="author-images" style="background-image:url(@Url.Content("~/images/userPhotos/" + item.Avatar))"></div>
                            <div class="author-names">@item.FirstName @item.LastName</div>
                        </a>

                    }




                </div>
            </div>
            <div class="rightsideport">

                <div class="search">
                   

                    <div class="porad">რეკლამა</div>
                    <div class="porad">რეკლამა</div>
                </div>
            </div>
        </div>
    </div>
</div>>
<div class="mtlical">
    <div class="bootstrap-wrapper">
        <div class="modal fade2" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->


            </div>
        </div>
    </div>
</div>
