﻿@model StreetArt.Models.ViewModels.WorkViewModelPr

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string revSort = string.Empty;

    if (ViewBag.timeSort == "desc")
    {
        revSort = "asc";
    }
    else
    {
        revSort = "desc";

    }


}

<div class="content">
    <div class="row">
        <div class="porsort">


            <a href="@Url.Content("~/works/"+ViewBag.ViewName+"/?timeSort=" + revSort + "&qsearch=" + ViewBag.qsearch + ViewBag.addParam)" class="c-btn c-datepicker-btn sanet">თარიღი</a>

        </div>
        <div class="portcont">
            <div class="leftsideport">
                <div class="ese">


                    @foreach (var item in Model.Works)
                    {
                        item.Isliked = Model.UserLikedPosts.Any(q => q == item.Id);
                            <div class="portfolioitem">
                                <div class="sec2itemtop viewItem" data-toggle="modal" data-target="#portfolioitem" data-id="@item.Id" data-action="ViewPost">
                                    <img src="@Url.Content("~/")Uploads/UserWorks/@item.PosterImage" class="modelImage workImage">
                                </div>
                                <div class="sec2itembottom">
                                    <div class="itemstat">
                                        @if (item.Isliked)
                                        {
                                            <div class="itemlike social ignoreClick like active" data-action="LikePost" data-id="@item.Id">
                                                <p class="workLikes">@item.Likes</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="itemlike social ignoreClick like" data-action="LikePost" data-id="@item.Id">
                                                <p class="workLikes">@item.Likes</p>
                                            </div>
                                        }
                                        <div class="itemshare social ignoreClick share" data-action="SharePost" data-id="@item.Id">
                                            <img src="@Url.Content("~/")images/item/share.png">
                                            <p class="workShares">@item.Shares</p>
                                        </div>
                                        <div class="itemview">
                                            <img src="@Url.Content("~/")images/item/view.png">
                                            <p class="workViews">@item.Views</p>
                                        </div>
                                    </div>
                                </div>
                                <p class="itemauthor">by <a href="@Url.Content("~/account/profile/" + item.User.Id)">@item.User.FirstName</a></p>

                                <input type="hidden" class="worklTitle" value="@item.Title" />
                                <input type="hidden" class="workDescription" value="@item.Description" />
                                <input type="hidden" class="workAuthor" value="@item.User.FirstName @item.User.LastName" />
                                <input type="hidden" class="workPublishDate" value="@item.UploadedTime" />
                                <input type="hidden" class="workAuthorAvatar" value="@item.User.Avatar" />

                            </div>


                        @*<div class="portfolioitem">
                            <img src="images/crap/nophoto.png">
                            <div class="portfolioitemtitle sanet">
                                რაღაც საოცარი ნამუშევარი
                            </div>
                            <div class="portfolioitemsocial">
                                <div class="portfoliolike">
                                    <img src="images/item/like.png">
                                    <div class="portfoliolikevalue">123</div>
                                </div>
                                <div class="portfolioshare">
                                    <img src="images/item/share.png">
                                    <div class="portfoliosharevalue">123</div>
                                </div>
                                <div class="portfolioview">
                                    <img src="images/item/view.png">
                                    <div class="portfolioviewvalue">123</div>
                                </div>
                            </div>
                            <div class="portfolioitemauthor">
                                By <a href="#">Levan Geliashvili</a>
                            </div>
                        </div>*@
                    }




                </div>
            </div>
            <div class="rightsideport">

                <div class="search">
                    <form class="search-wrapper cf">
                        <input hidden="hidden" name="timeSort" value="@ViewBag.timeSort" />
                        <input type="text" name="qsearch" value="@ViewBag.qsearch" placeholder="საძიებო სიტყვა...">
                        <button type="submit">ძებნა</button>
                    </form>

                    <div class="porad">რეკლამა</div>
                    <div class="porad">რეკლამა</div>
                </div>
            </div>
        </div>
    </div>
</div>>
<div class="mtlical">
    <div class="bootstrap-wrapper">
        <div class="modal fade2" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->


            </div>
        </div>
    </div>
</div>

