/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
@media (min-width: 1920px) and (max-width: 4000px) {
.rslides img {
  display: block;
  height: 400px;
  float: left;
  width: 100%;
  border: 0;
  }
  }
@media (min-width: 1600px) and (max-width: 1919px) {
	.rslides img {
  display: block;
  height: 300px;
  float: left;
  width: 100%;
  border: 0;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
	.rslides img {
  display: block;
  height: 300px;
  float: left;
  width: 100%;
  border: 0;
  }
}
@media (min-width: 1366px) and (max-width: 1439px) {
	.rslides img {
  display: block;
  height: 250px;
  float: left;
  width: 100%;
  border: 0;
  }
}
@media (min-width: 1280px) and (max-width: 1365px) {
	.rslides img {
  display: block;
  height: 180px;
  float: left;
  width: 100%;
  border: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
	.rslides img {
  display: block;
  height: 150px;
  float: left;
  width: 100%;
  border: 0;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
	.rslides img {
  display: block;
  height: 270px;
  float: left;
  width: 100%;
  border: 0;
  }
  .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  float: right;
  width: 100%;
  padding: 0;
  margin: 0;
  }
}
@media (min-width: 480px) and (max-width: 799px) {
	.rslides img {
  display: block;
  height: 230px;
  float: left;
  width: 100%;
  border: 0;
  }
}