﻿@model StreetArt.Data.Models.Entities.SellContent

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
   

    <div class="form-horizontal">
        <h4>SellContent</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section scripts{
<script src="@Url.Content("~/AdminContent/ckeditor/ckeditor.js")"></script>
   <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
       CKEDITOR.replace('Content');
</script>
   
}