﻿@{
    bool UserLogedIn = StreetArt.Core.Helpers.AuthHelper.UserLoggedIn();

    StreetArt.Models.ViewModels.UserViewModel user = null;
    if (UserLogedIn)
    {
        user = StreetArt.Helpers.AccountHelper.GetLoginedUser();
    }
    bool? successUploaded = null;
    if (TempData["successUploaded"] != null)
    {
        successUploaded = bool.Parse(TempData["successUploaded"].ToString());
    }
    string gayideContent = StreetArt.Helpers.AccountHelper.GetGayideContent();

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - StreetArt</title>


    <link rel="stylesheet" href="@Url.Content("~/bootstrap/style.css")">




    <!-- chatjs requirements -->
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/")ChatJs/js/jquery.autosize.js"></script>
    <script src="@Url.Content("~/")scrljs/jquery.scrollify.js"></script>

    <link rel="stylesheet" href="@Url.Content("~/")Styles/styles.css" />
    <link rel="stylesheet" href="@Url.Content("~/")Styles/customStyles.css" />
    <link rel="stylesheet" href="@Url.Content("~/")Styles/responsive-style.css" />
    <link href="@Url.Content("~/")zoomassets/dist/css/lightgallery.css" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/")Styles/sweetalert.css" />
    <link rel="stylesheet" href="@Url.Content("~/")Styles/portfolio-responsive.css" />

    <!-- chatjs files-->


    <script src="//cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
    <script src="@Url.Content("~/Scripts/")sweetalert.min.js"></script>
    <script src="@Url.Content("~/")zoomassets/js/lightgallery.js"></script>
    <script src="@Url.Content("~/")zoomassets/js/lg-fullscreen.js"></script>
    <script src="@Url.Content("~/")zoomassets/js/lg-video.js"></script>
    <script src="@Url.Content("~/")zoomassets/js/lg-autoplay.js"></script>
    <script src="@Url.Content("~/")zoomassets/js/lg-zoom.js"></script>
    <script src="@Url.Content("~/")zoomassets/js/lg-hash.js"></script>
    <script src="@Url.Content("~/")zoomassets/js/lg-pager.js"></script>

    <script src="@Url.Content("~/")ChatJs/js/jquery.chatjs.utils.js"></script>
    <script src="@Url.Content("~/")ChatJs/js/jquery.chatjs.adapter.servertypes.js"></script>
    <script src="@Url.Content("~/")ChatJs/js/jquery.chatjs.adapter.js"></script>
    <script src="@Url.Content("~/")ChatJs/js/jquery.chatjs.adapter.demo.js"></script>
    <script src="@Url.Content("~/")ChatJs/js/jquery.chatjs.window.js"></script>
    <script src="@Url.Content("~/")ChatJs/js/jquery.chatjs.messageboard.js"></script>
    <script src="@Url.Content("~/")ChatJs/js/jquery.chatjs.userlist.js"></script>
    <script src="@Url.Content("~/")ChatJs/js/jquery.chatjs.pmwindow.js"></script>
    <script src="@Url.Content("~/")ChatJs/js/jquery.chatjs.friendswindow.js"></script>
    <script src="@Url.Content("~/")ChatJs/js/jquery.chatjs.controller.js"></script>

    <script src="@Url.Content("~/")homeslider/responsiveslides.min.js"></script>
    <script src="@Url.Content("~/")Scripts/Script.js"></script>



    <link rel="stylesheet" href="@Url.Content("~/")homeslider/assets/slider.css">
    <link rel="stylesheet" href="@Url.Content("~/")homeslider/responsiveslides.css">
    <link rel="stylesheet" href="@Url.Content("~/")ChatJs/css/jquery.chatjs.css" />


    <link href="@Url.Content("~/")crop/css/font-awesome.min.css" rel="stylesheet">
    <link href="@Url.Content("~/")crop/css/cropper.min.css" rel="stylesheet">
    <link href="@Url.Content("~/")crop/css/main.css" rel="stylesheet">


    @RenderSection("css", required: false)


    <script type="text/javascript">
        $(function () {
            $.chat({
                // your user information
                userId: 1,
                // id of the room. The friends list is based on the room Id
                roomId: 1,
                // text displayed when the other user is typing
                typingText: ' is typing...',
                isMaximized: true,
                // title for the rooms window
                roomsTitleText: 'Rooms',
                // title for the 'available rooms' rab
                availableRoomsText: 'Available rooms',
                // text displayed when there's no other users in the room
                emptyRoomText: "There's no one around here. You can still open a session in another browser and chat with yourself :)",
                // the adapter you are using
                chatJsContentPath: '/basics/chatjs/',
                adapter: new DemoAdapter()
            });
        });
        $(function () {
            $("#slider4").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });










        //Fb Logic
        window.fbAsyncInit = function () {
            FB.init({
                appId: '231771047241217',
                xfbml: true,
                version: 'v2.6'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));






    </script>

    @if (successUploaded != null)
    {
        <script>
            $(function () {
                var showItem = "@successUploaded".toLowerCase();
                if (showItem == "true") {
                    swal("გამოფენა წარმატებით დაემატა!", "განიხილავს ადმინისტრაცია", "success")
                } else {
                    swal("დაფიქსირდა შეცდომა!", "გთხოვთ გადაამოწმოთ ინფორმაცია!", "error")

                }
            });

        </script>
    }

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '231771047241217',
                xfbml: true,
                oauth: true,
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                version: 'v2.8'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        function getData() {

            FB.getLoginStatus(function (response) {

                var accessToken = response.authResponse.accessToken;

                $.post('@Url.Content("~/Account/FbLogin")',
                { 'accessToken': accessToken },

                function (data, statusText) {
                    window.location.reload();

                });

            });
        }
        function FacebookLogin() {
            FB.getLoginStatus(function (response) {
                console.log(response);
                if (response.status === 'connected')
                    getData();
                else
                    FB.login(function (response) {
                        if (response.authResponse)
                            getData();
                    });
            });
        }

    </script>
</head>
<body>
    <div class="fullhead">
        <div class="topmenu">
            <div class="content">
                <div class="kidetop">
                    <nav class="topnav">
                        <a href="@Url.Content("~/")">მთავარი</a>
                        <a href="@Url.Content("~/events")">გამოფენები</a>
                        <a href="@Url.Content("~/works")">ნამუშევრები</a>

                    </nav>
                    <a href="#" target="_blank">
                        <div class="fbs">
                            <a href="https://facebook.com" target="_blank">
                                <img src="@Url.Content("~/")images/crap/fbicon.png">
                            </a>
                        </div>
                    </a>
                    @if (!UserLogedIn)
                    {
                        <div class="topauth">
                            <span onclick="window.location.href= '@Url.Content("~/Account/Login")'">შესვლა</span>
                            |
                            <span onclick="window.location.href= '@Url.Content("~/Account/Register")'">რეგისტრაცია</span>
                            |
                            <span onclick="FacebookLogin()">
                                <img src="@Url.Content("~/images/facebook_circle_logo.png")" style="width: 28px;  position: relative;top: 7px;" />

                            </span>
                        </div>


                    }
                    else
                    {
                        <div class="topauth logined">
                            @*<span onclick="window.location.href= '@Url.Content("~/Account/Details")'">@user.FirstName</span>*@
                            @*| <span onclick="window.location.href= '@Url.Content("~/Account/Logout")'">გამოსვლა</span>*@
                            <span class="search-icon logined">
                                <img src="~/images/content/search.png" />
                            </span>
                            <span class="message-icon logined notshow" data-notcount="0">
                                <a href="@Url.Content("~/chat")"> <img src="~/images/chat-icon.png" /></a>
                            </span>
                            <span class="alert-icon logined">
                                <img src="~/images/content/alarm.png" />
                            </span>
                            <div class="profile-icon logined">
                                <img src="~/images/UserPhotos/@user.Avatar" class="avatar-img" />
                                <div class="dropdown">
                                    <ul>
                                        <li onclick="window.location.href= '@Url.Content("~/Account/Details")'">
                                            <span></span>
                                            <p>My Profile</p>
                                        </li>
                                        <li>
                                            <span></span>
                                            <p>Exibition</p>
                                        </li>
                                        <li>
                                            <span></span>
                                            <p>Statistics</p>
                                        </li>
                                        <li>
                                            <span></span>
                                            <p>XP</p>
                                        </li>
                                        <li onclick="window.location.href= '@Url.Content("~/Account/Logout")'">
                                            <span></span>
                                            <p>Log Out</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="headbar">
            <div class="content">
                <div class="kidetop">
                    <div class="headbarcol1">
                        <a href="@Url.Content("~/")">
                            <img src="@Url.Content("~/")images/logo-head.png">
                        </a>
                    </div>
                    <div class="headbarcol2">ტექსტი წავა აქ უნდა ილინკებოდეს...</div>
                    <div class="headbarcol3">
                        <button type="button" data-toggle="modal" data-target="#gayide" class="btny">გაყიდე</button>
                        <button data-toggle="modal" data-target="#atvirte" type="button" class="btnu">ატვირთე</button>
                        @if (!UserLogedIn)
                        {
                            <button type="button" class="btnr" onclick="window.location.href= '@Url.Content("~/Account/Register")'">რეგისტრაცია</button>
                        }
                        else
                        {
                            <button type="button" class="btnr" onclick="window.location.href= '@Url.Content("~/Account/Details")'">პროფილი</button>
                            <button type="button" class="btns" onclick="window.location.href= '@Url.Content("~/Account/Addwork")'">ნაშრომის ატვირთვა</button>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.U = '@Url.Content("~")';
    </script>

    @RenderBody()


    <div class="mtlical">
        <div class="bootstrap-wrapper">
            <div class="modal fade2" id="atvirte" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content9">

                        <button type="button" class="close3" data-dismiss="modal">&times;</button>

                        <div class="modal-body" style="margin-top: 20px;">
                            <div class="mainupload">
                                <div class="muleftside">
                                    <div class="shekmnatitle">
                                        ნამუშევრის ალბომის შექმნა<br>და გაყიდვა
                                    </div>
                                    <div class="authorize">
                                        @if (!UserLogedIn)
                                        { <text>
                                            - <a href="@Url.Content("~/Account/Register")">რეგისტრაცია</a> -

                                            <a href="@Url.Content("~/Account/Login")">სისტემაში შესვლა</a> -
                                        </text>
                                        }
                                        else
                                        {
                                            <text>
                                                - <a href="@Url.Content("~/Account/Details")">პროფილი</a> -
                                            </text>
                                        }
                                    </div>

                                </div>

                                <div class="murightside">
                                    <div class="organizeba">
                                        გამოფენის ორგანიზება
                                    </div>
                                    <form class="upgallery" id="evForm" action="@Url.Content("~/Home/SuggestedEvent")" method="post" enctype="multipart/form-data">
                                        <input type="text" id="evAuthor" name="uname" placeholder="პროექტის ავტორი" required>
                                        <input type="text" id="evName" name="eventName" placeholder="გამოფენის სახელწოდება... თუ არის ასეთი" required>
                                        <input type="email" id="evEmail" name="email" placeholder="ელ-ფოსტა" required>

                                        <div class="atvirtext">
                                            გაფრთხილება: ფაილები უნდა იყოს A2 ზომის 300 DPI, რადგან მათი ბეჭდვაში გაშვება მოხდეს გამოფენისთვის.
                                            <br>
                                            <br>
                                            ნამუშევრების რაოდენობა: მაქსიმუმ 9
                                            <br>
                                            <br>
                                            ნამუშევრების ატვირთვის შემდეგ თქვენ დაგიკავშირდებათ ჩვენი კოორდინატორი, თქვენს მიერ მითითებულ ელ-ფოსტაზე.
                                        </div>
                                        <div class="atvbutton" style="cursor:pointer;">
                                            <label for="evFiles">ატვირთე</label>
                                            <input type="file" style="display:none;" name="images" id="evFiles" multiple accept="image/*" />

                                        </div>
                                        <button class="gagzbutton">გაგზავნა</button>

                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="modal fade2" id="gayide" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content9">

                        <button type="button" class="close3" data-dismiss="modal">&times;</button>

                        <div class="modal-body" style="margin-top: 20px;">
                            <div class="cont">
                                @Html.Raw(gayideContent)
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <div class="mtlical">
        <div class="bootstrap-wrapper">
            <div class="loading">
                <svg width='124px' height='124px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring-alt"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><circle cx="50" cy="50" r="40" stroke="#afafb7" fill="none" stroke-width="10" stroke-linecap="round"></circle><circle cx="50" cy="50" r="40" stroke="#cc3366" fill="none" stroke-width="6" stroke-linecap="round"><animate attributeName="stroke-dashoffset" dur="2s" repeatCount="indefinite" from="0" to="502"></animate><animate attributeName="stroke-dasharray" dur="2s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4"></animate></circle></svg>
            </div>
            <div class="modal fade2 WorkData" id="portfolioitem" style="overflow-y:scroll;" role="dialog">
                <div class="modalditem">
                    <div class="modal-dialog2">
                        <!-- Modal content-->
                        <div class="modal-content2">
                            <div class="modal-header2">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title2 sanet worklTitle">ნამუშევარი</h4>
                                <div class="prodcat">კატეგორია / ქვეკატეგორია / თეგი</div>
                                <div class="initemstat">
                                    <div class="initemview">
                                        <div class="itviewicon">
                                            <img src="@Url.Content("~/")images/item/view.png">
                                        </div>
                                        <div class="itamount workViews">
                                            0
                                        </div>
                                    </div>
                                    <div class="initemlike">
                                        <div class="itlikeicon">
                                            <img src="@Url.Content("~/")images/item/like.png">
                                        </div>
                                        <div class="itamount workLikes">
                                            0
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body" style="margin-top: 20px;">

                                <div class="demo-gallery">
                                    <div id="lightgallery" class="list-unstyled row">
                                        <div class="col-xs-6 col-sm-4 col-md-3 workImageData" data-src="@Url.Content("~/")images/content/1.png" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                                            <a href="">
                                                <img class="img-responsive workImage" src="@Url.Content("~/")images/content/1.png">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <p class="workDescription">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade2" id="zoomimage" role="dialog">
                        <div class="modal-dialog4">

                            <!-- Modal content-->
                            <div class="modal-content4">
                                <img src="@Url.Content("~/")images/content/1.png">
                            </div>



                        </div>
                    </div>
                    <div class="modal-dialog3">
                        <!-- Modal content-->
                        <div class="modal-content2">
                            <div class="modal-header3">
                                <div class="pauthor modal-title sanet">პროექტის ავტორი</div>
                            </div>
                            <div class="modal-body">
                                <div class="sanet autitle workAuthor">ლევან გელიაშვილი</div>
                                <div class="auleft">
                                    <div class="aufb">
                                        <img src="@Url.Content("~/")images/content/fbitem.png">
                                    </div>
                                    <div class="autweeter">
                                        <img src="@Url.Content("~/")images/content/tweetitem.png">
                                    </div>
                                    <div class="aumail">
                                        <img src="@Url.Content("~/")images/content/mailitem.png">
                                    </div>
                                </div>
                                <div class="auavatar">
                                    <img src="@Url.Content("~/")images/content/avatar.png" class="workAuthorAvatar">
                                </div>
                                <div class="clear"></div>
                                <div class="itlikeicon">
                                    <img src="@Url.Content("~/")images/item/view.png">
                                </div>
                                <div class="itamount workAuthorViews">
                                    0
                                </div>
                                <div class="clear" style="margin-bottom: 10px;"></div>
                                <div class="itlikeicon">
                                    <img src="@Url.Content("~/")images/item/like.png">
                                </div>
                                <div class="itamount workAuthorLikes">
                                    0
                                </div>
                                <div class="clear" style="margin-bottom: 8px;"></div>
                                <div class="xprow"><div class="xptitle"></div><div class="xpicon"><img src="@Url.Content("~/")images/item/share.png"></div><div class="xpvalue workAuthorShares">0</div></div>
                                <div class="clear" style="margin-bottom: 30px;"></div>
                                <div class="gamocera">გამოწერა</div>
                                @if (UserLogedIn)
                                {

                                <div class="message-to-user"><a href="@Url.Content("~/chat")">შეტყობინება</a></div>
                                }
                                <div class="datepub">გამოქვეყნებული: <span class="workPublishDate">27, სექტემბერი, 2016</span></div>

                            </div>
                            <div class="modal-footer sanet" style="color: #c5c5c5;">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#lightgallery').lightGallery();

            $('#evFiles').change(function (e) {
                if (this.files.length > 9) {
                    e.preventDefault();
                    swal("დაფიქსირდა შეცდომა!", "მაქსიმუმ 9 სურათი აირჩიეთ!", "error");

                }

            });
            $('#evForm').submit(function (e) {
                if ($('#evFiles')[0].files.length == 0) {
                    e.preventDefault();
                    swal("დაფიქსირდა შეცდომა!", "აირჩიეთ მინიმუმ 1 სურათი!", "error");
                    return false;
                } else if ($('#evFiles')[0].files.length > 9) {
                    e.preventDefault();
                    swal("დაფიქსირდა შეცდომა!", "მაქსიმუმ 9 სურათი აირჩიეთ!", "error");
                    return false;
                }
            });

            @if (UserLogedIn)
            {
            <text>
            CheckUnreadMessages(@user.Id);
            setInterval( function(){CheckUnreadMessages(@user.Id) }, 5000);
            </text>
            }
            else
            {
                
                <text>
            $(".personal-message").on("click", function (e) {
                e.preventDefault();
                swal("შეტყობინების გასაგზავნად გთხოვთ გაიაროთ ავტორიზაცია", "", "error");
            });
                </text>
            }
        });
    </script>
    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>


    @RenderSection("scripts", required: false)

</body>
</html>
