﻿@{ 
   bool isMainAdmin = StreetArt.Core.Helpers.AuthHelper.IsMainAdmin;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/Images/Content/App-main-icon.png">

    <title>@ViewBag.Title</title>

    
    <!-- Vendor CSS -->
    
    <link href="@Url.Content("~/AdminContent/MaterialAdmin/")vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="@Url.Content("~/AdminContent/MaterialAdmin/")vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="@Url.Content("~/AdminContent/MaterialAdmin/")vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">


    <!-- CSS -->
    <link href="@Url.Content("~/AdminContent/MaterialAdmin/")css/app.min.1.css" rel="stylesheet">
    <link href="@Url.Content("~/AdminContent/MaterialAdmin/")css/app.min.2.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/AdminContent/Assets/css/style.css")" rel="stylesheet">

    @RenderSection("css", required: false)
    <script>
        window.U = '@Url.Content("~/")';
    </script>
</head>
<body class="modal-open">
    <header id="header" class="sidebar-toggled">
        <ul class="header-inner">
            <li id="menu-trigger" data-trigger="#sidebar" >
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            <li class="logo hidden-xs">
                <a href="index.html">Street Art</a>
            </li>

            <li class="pull-right">
                <ul class="top-menu">
                   
                 
                    <li class="dropdown">
                        <a 
                           ="dropdown" class="tm-notification" href=""><i class="tmn-counts">1</i></a>
                        <div class="dropdown-menu dropdown-menu-lg pull-right">
                            <div class="listview" id="notifications">
                                <div class="lv-header">
                                   გამოფენები

                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="" data-clear="notification">
                                                <i class="zmdi zmdi-check-all"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="lv-body">
                                    <a class="lv-item" href="">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="lv-img-sm" src="@Url.Content("~/AdminContent/MaterialAdmin/")img/profile-pics/1.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="lv-title">გამოფენის სახელი</div>
                                                <small class="lv-small">პროექტის ავტორი</small>
                                            </div>
                                        </div>
                                    </a>
                                    
                                </div>

                                
                            </div>

                        </div>
                    </li>
                  
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="tm-settings" href=""></a>
                        <ul class="dropdown-menu dm-icon pull-right">
                            
                            <li>
                                <a href="@Url.Content("~/Admin/logout")"><i class="zmdi zmdi-settings"></i> გასვლა</a>
                            </li>
                        </ul>
                    </li>
                    
            </li>
        </ul>

        <!-- Top Search Content -->
        <div id="top-search-wrap">
            <input type="text">
            <i id="top-search-close">&times;</i>
        </div>
    </header>

    <section id="main">
        <aside id="sidebar" class="toggled">
            <div class="sidebar-inner c-overflow">
                <div class="profile-menu">
                    <a href="">
                        <div class="profile-pic">
                            <img src="http://www.free-icons-download.net/images/city-street-icon-90210.png" alt="">
                        </div>

                        <div class="profile-info">
                            Street Art Administrator

                            <i class="zmdi zmdi-arrow-drop-down"></i>
                        </div>
                    </a>

                    <ul class="main-menu">
                        <li>
                            <a href="profile-about.html"><i class="zmdi zmdi-account"></i> View Profile</a>
                        </li>
                        <li>
                            <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
                        </li>
                        <li>
                            <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
                        </li>
                        <li>
                            <a href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
                        </li>
                    </ul>
                </div>

                <ul class="main-menu mtav">
                    <li> <a href="@Url.Content("~/admin")"><i class="zmdi zmdi-home"></i> მთავარი გვერდი</a></li>
                    <li> <a href="@Url.Content("~/AdminMainPhotos")"><i class="zmdi zmdi-calendar-check"></i> მთავარი სლაიდერი</a></li>
                    <li> <a href="@Url.Content("~/adminevents")"><i class="zmdi zmdi-calendar-check"></i> ღონისძიებები</a></li>
                    <li> <a href="@Url.Content("~/AdminSliders")"><i class="zmdi zmdi-calendar-check"></i> სლაიდერები</a></li>
                    <li> <a href="@Url.Content("~/AdminWorks")"><i class="zmdi zmdi-calendar-check"></i> ნამუშევრები</a></li>
                    <li> <a href="@Url.Content("~/AdminSuggestedEvents")"><i class="zmdi zmdi-calendar-check"></i> შემოთავაზებული ივენთები</a></li>
                    <li> <a href="@Url.Content("~/AdminCategories")"><i class="zmdi zmdi-calendar-check"></i> კატეგორიები</a></li>
                    <li> <a href="@Url.Content("~/AdminSubCategories")"><i class="zmdi zmdi-calendar-check"></i> ქვეკატეგორიები</a></li>
                    <li> <a href="@Url.Content("~/AdminTags")"><i class="zmdi zmdi-calendar-check"></i> თეგები</a></li>
                    <li> <a href="@Url.Content("~/AdminSellContents")"><i class="zmdi zmdi-calendar-check"></i> გაყიდე</a></li>
                    
                    @if (isMainAdmin)
                    {
                        <li> <a href="@Url.Content("~/adminusers")"><i class="zmdi zmdi-accounts-alt"></i> ადმინისტრატორები</a></li>
                    }
                    
                </ul>
            </div>
        </aside>

      


        <section id="content">
            <div class="container">
                @RenderBody()


            </div>
        </section>
    </section>

    <footer id="footer">
        Copyright &copy; @DateTime.Now.Year Street Art

        <ul class="f-menu">
            <li><a href="">Home</a></li>
            <li><a href="">Dashboard</a></li>
            <li><a href="">Reports</a></li>
            <li><a href="">Support</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </footer>
   


               
          
    




    <!-- Javascript Libraries -->

    <script src="@Url.Content("~/AdminContent/MaterialAdmin/")vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="@Url.Content("~/AdminContent/MaterialAdmin/")vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <script src="@Url.Content("~/AdminContent/MaterialAdmin/")vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="@Url.Content("~/AdminContent/MaterialAdmin/")vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="@Url.Content("~/AdminContent/MaterialAdmin/")vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>

    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->

    <script src="@Url.Content("~/AdminContent/MaterialAdmin/js/functions.js")"></script>
    <script src="@Url.Content("~/AdminContent/assets/js/script.js")"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
