﻿@model IEnumerable<StreetArt.Data.Models.Entities.Work>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Likes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shares)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Favourite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Likes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shares)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedTime)
        </td>
        <td>
            @if (item.Approved)
            {
                <a href="@Url.Action("Approved", new { id = item.Id} )" class="btn btn-danger">დამალვა</a>
            }
            else
            {
                <a href="@Url.Action("Approved", new { id = item.Id} )" class="btn btn-success">გამოჩენა</a>
            }
        </td>
        <td>
            @if (item.Favourite)
            {
                <a href="@Url.Action("Favourite", new { id = item.Id} )" class="btn btn-danger">წაშლა</a>
            }
            else
            {
                <a href="@Url.Action("Favourite", new { id = item.Id} )" class="btn btn-success">დამატება</a>
            }
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
