﻿@model StreetArt.Data.Models.Entities.MainPhoto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm(null, null, FormMethod.Post,
                                                                          new { enctype = "multipart/form-data" }))
{
    

    <div class="form-horizontal">
        <h4>Slider</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Image" name="defaultImage" required accept="image/*" />
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="image-viwer-wrapper">
            <img src="" id="image-viwer" />
        </div>

        <input type="hidden" name="Image" id="imageItem" value="" />

        <div class="form-group">
            @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section css{

    <link href="@Url.Content("~/AdminContent/Assets/css/cropper.min.css")" rel="stylesheet" />
    <style>
        .image-viwer-wrapper {
            display: none;
            width: 800px;
            height: 420px;
            position: relative;
        }

        #image-viwer {
            max-width: 100%;
        }
    </style>
}


@section scripts{
    <script src="@Url.Content("~/AdminContent/assets/js/cropper.min.js")"></script>
    <script>
      var cropperItem =undefined;
      $(function () {

          var opt = {
              viewMode: 3,
              dragMode: 'move',
              autoCropArea: 1,
              restore: false,
              modal: false,
              guides: false,
              highlight: false,
              cropBoxMovable: false,
              zoomOnTouch: false,
              zoomOnWheel: false,
              cropBoxResizable: false,
              crop: function (e) {

              },
              built: function () {



                  cropperItem.setCropBoxData({ left: 0, top: 0, width: 600, height: 400 });

              }
          };
          function initCropper(img) {
              if (cropperItem == undefined)
                  cropperItem = new Cropper(img, opt);
              else {
                  cropperItem.destroy();
                  cropperItem = new Cropper(img, opt);
              }
              $('.image-viwer-wrapper').show();

          }
          $('#Image').change(function () {




              var _URL = window.URL || window.webkitURL;

              var file, img = document.getElementById('image-viwer');

              if ((file = this.files[0])) {

                  img.src = _URL.createObjectURL(file);



                  img.onload = function () {

                      console.log(this.width, this.height);


                      if (this.width < 600 || this.height < 400) {

                          img.src = "";
                          alert("არასწორი სურათის ზომები მინ (600 / 400)");

                      } else {

                          initCropper(img);
                      }
                  }



              }

          });

          $('form').submit(function () {
              var base64 = cropperItem.getCroppedCanvas().toDataURL({ format: 'png', quality: 1 });
              $('#imageItem').val(base64);
          });
      });
    </script>
}