﻿body {
    font-family: Regular!important;
}

.main-menu li a {
    font-family: Mtavruli;
        font-size: 15px;
}





@font-face {
    font-family: "Mtavruli";
    src: url("../Fonts/archyedt-bold.otf");
}


@font-face {
    font-family: "Regular";
    src: url("../Fonts/TbcDin_Nusxuri_Medium.otf");
}

input, textarea{
    padding:20px!important;
}
textarea.form-control{
    height:30px;
}

textarea.form-control.big{
    height:200px;
}
.modal-open{
    overflow:visible;
}